<?php
$poll = $block->getPollData();

?>
<div class="fieldset-wrapper customer-information">
    <div class="fieldset-wrapper-title">
        <span class="title"><?= $block->escapeHtml(__('Poll Result')) ?></span>
    </div>
    <table class="admin__table-secondary">
        <tbody>
        <tr>
            <th><?= $block->escapeHtml(__('Poll Name')) ?></th>
            <td><?= $block->escapeHtml($poll->getPollName()) ?> </td>
        </tr>
        <tr>
            <th><?= $block->escapeHtml(__('Start Date'))?></th>
            <td><?= $block->escapeHtml($poll->getStartDate()) ?></td>
        </tr>
        <tr>
            <th><?= $block->escapeHtml(__('End Date'))?></th>
            <td><?= $block->escapeHtml($poll->getEndDate()) ?></td>
        </tr>
        <tr>
            <th><?= $block->escapeHtml(__('Options'))?></th>


        </tr>
        <?php
         foreach ($poll->getOptions() as $key => $value) { ?>
        <tr>
            <td><b><?= $value['options'] ?></b></td>
            <td>
            	<?= $block->escapeHtml(__('Total vote: '))?>
            	<?= $block->getVotes($value['poll_options_id']); ?>
            </td>
        <tr>
        <tr>
        	<td colspan="3">
            <table class="admin__table-secondary">
            	<?php
            	$customer = $block->getPollCustomers($value['poll_options_id']);
            	if ($customer && $customer->getSize() > 0) {?>
            	<tr>
            		<th>Customer Name</th>
            		<th>Customer Email</th>
            	</tr>
            	<?php
            		foreach ($block->getPollCustomers($value['poll_options_id']) as $key => $customer) { ?>
	            		<th><?= $customer->getFirstname(); ?></th>
	            		<th><?= $customer->getEmail(); ?></th>
            		<?php }
            	} else {?>
           		<tr>
            		<th>No votes</th>
            	</tr>
            	 <?php }?>
            </table>
        	</td>
        </tr>
        <?php } ?>
        </tbody>
    </table>
</div>
