<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<div class="fieldset-wrapper customer-information">
    <table class="admin__table-secondary">
        <tbody>
            <tr>
                <th><b><?= $block->escapeHtml(__('Proposed Listing')) ?></b></th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th><?= $block->escapeHtml(__('Product Selling Price')) ?></th>
                <th><?= $block->escapeHtml(__('Prize Cost')) ?></th>
                <th><b><?= $block->escapeHtml(__('Total Products Cost(AED)')) ?></b></th>
                <th><b><?= $block->escapeHtml(__('Campaign Cost AED')) ?></b></th>
                <th><b><?= $block->escapeHtml(__('Target Margin')) ?></b></th>
                <th><b><?= $block->escapeHtml(__('Campaign Value AED')) ?></b></th>
                <th><b><?= $block->escapeHtml(__('Gross Profit AED')) ?></b></th>
            </tr>
            <tr>
                <td id="product-selling-price">&nbsp;</td>
                <td id="prize-cost-price">&nbsp;</td>
                <td id="campaign-other-cost">&nbsp;</td>
                <td id="campaign-cost-aed">&nbsp;</td>
                <td id="target-margin">&nbsp;</td>
                <td id="campaign-value-aed">&nbsp;</td>
                <td id="campaign-gross-profit-aed">&nbsp;</td>
                
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <th><b><?= $block->escapeHtml(__('Cost Structure')) ?></b></th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>

            <tr>
                <th>Product Cost</th>
                <th>Gateway Cost</th>
                <th>Packaging Cost</th>
                <th>VAT Cost</th>
                <th>Other Cost</th>
                <th><b><?= $block->escapeHtml(__('Product Total AED')) ?></b></th>
                <th>&nbsp;</th>                              
            </tr>
            <tr>

                <td id="product-cost-price">&nbsp;</td>
                <td id="product-gateway-markup">&nbsp;</td>
                <td id="product-shipping-markup">&nbsp;</td>
                <td id="product-vat-markup">&nbsp;</td>
                <td id="product-other-markup">&nbsp;</td>
                <td id="product-total-price">&nbsp;</td>
                <th>&nbsp;</th> 
            </tr>
        </tbody>
    </table>
</div>
<script>
    require(['jquery', 'uiRegistry'], function ($, uiRegistry) {
        var campaignProductPrice = uiRegistry.get('index = campaign_product_id');
        if (campaignProductPrice.value().length > 0) {
            var res = campaignProductPrice.value().split("-");
            var price = res[1];
            price = parseFloat(price);
            price = Math.round(price * 100) / 100;

            var selling_price = res[2];
            selling_price = parseFloat(selling_price);
            selling_price = Math.round(selling_price * 100) / 100;
            //product price
            var priceContainer = document.getElementById("product-cost-price");
            var sellingPriceContainer = document.getElementById("product-selling-price");
            var priceAED = calculateAedPrice(price);
            priceContainer.innerHTML = "";
            priceContainer.innerHTML = "<span>" + price.toFixed(2) + "</span>";
            sellingPriceContainer.innerHTML = "";
            sellingPriceContainer.innerHTML = "<span>" + selling_price.toFixed(2) + "</span>";

            var campaignCostAed = calculateOtherCost(priceAED);
            calculateCampaignValue(campaignCostAed, selling_price);
        }
        function calculateAedPrice(value) {
            
            var campaignPackagingCost = uiRegistry.get('index = campaign_shipping');
            var campaigngatewayTax = uiRegistry.get('index = campaign_payment_gateway');
            var campaignotherTax = uiRegistry.get('index = campaign_other_margin');
            var campaignvatTax = uiRegistry.get('index = campaign_vat');
            var shippingTax = campaignPackagingCost.value();
            var otherTax = campaignotherTax.value();
            var gatewayTax = campaigngatewayTax.value();
            var vatTax = campaignvatTax.value();


            var shippingCost = parseFloat(shippingTax);
//            var shippingCost = this.calculateMarkup(shippingTax, value);
            var gatewayCost = calculateMarkup(gatewayTax, value);
            var otherCost = calculateMarkup(otherTax, value);

            var vatSum = parseFloat(value) + gatewayCost + shippingCost;
            var vatCost = calculateMarkup(vatTax, vatSum);
            var priceAed = 0;
            priceAed = parseFloat(value);
            priceAed = vatCost + shippingCost + gatewayCost + otherCost + priceAed;
            priceAed = priceAed.toFixed(2);

            var vatCostContainer = document.getElementById("product-vat-markup");
            vatCostContainer.innerHTML = "";
            vatCostContainer.innerHTML = "<span>" + vatCost + "</span>";
            var shippingCostContainer = document.getElementById("product-shipping-markup");
            shippingCostContainer.innerHTML = "";
            shippingCostContainer.innerHTML = "<span>" + shippingCost + "</span>";
            var gatewayCostContainer = document.getElementById("product-gateway-markup");
            gatewayCostContainer.innerHTML = "";
            gatewayCostContainer.innerHTML = "<span>" + gatewayCost + "</span>";
            var otherCostContainer = document.getElementById("product-other-markup");
            otherCostContainer.innerHTML = "";
            otherCostContainer.innerHTML = "<span>" + otherCost + "</span>";
            var productAedContainer = document.getElementById("product-total-price");
            productAedContainer.innerHTML = "";
            productAedContainer.innerHTML = "<span>" + priceAed + "</span>";
            return priceAed;
        }
        function calculateMarkup(value, price) {
            var cost = price * (value / 100);
            return Math.round(cost * 10) / 10;
        }
        function calculateOtherCost(priceAed) {
            priceAed = parseFloat(priceAed);
            var campaignPrizeCost = uiRegistry.get('index = campaign_prize_id');
            var res = campaignPrizeCost.value().split("-");
            var prizeCostPrice = res[1];
            prizeCostPrice = parseFloat(prizeCostPrice);
            prizeCostPrice = Math.round(prizeCostPrice * 100) / 100;
            var prizeCostContainer = document.getElementById("prize-cost-price");
            prizeCostContainer.value = prizeCostPrice;
            prizeCostContainer.innerHTML = "";
            prizeCostContainer.innerHTML = "<span>" + prizeCostPrice.toFixed(2) + "</span>";

//            console.log(prizeCostPrice);
            var campaignTotalTickets = uiRegistry.get('index = campaign_total_tickets');
            var otherCost = campaignTotalTickets.value() * priceAed;
            otherCost = Math.round(otherCost)
            var campaignCostAed = parseFloat(prizeCostPrice) + parseFloat(otherCost);
            var otherCostContainer = document.getElementById("campaign-other-cost");
            otherCostContainer.innerHTML = "";
            otherCostContainer.innerHTML = "<span>" + otherCost + "</span>";

            var campaignCostAedContainer = document.getElementById("campaign-cost-aed");
            campaignCostAedContainer.innerHTML = "";
            campaignCostAedContainer.innerHTML = "<span>" + campaignCostAed + "</span>";
            return campaignCostAed;
        }
        function calculateCampaignValue(campaignCostAed, selling_price) {


            var campaignTotalTicketsField = uiRegistry.get('index = campaign_total_tickets');
            var campaignTotalTickets = parseFloat(campaignTotalTicketsField.value());
            var targetMargin = calculateTargetMargin(campaignTotalTickets, selling_price, campaignCostAed);
            var campaignTargetMargin = parseFloat(targetMargin) * 100;
            var campaignTargetMarginField = uiRegistry.get('index = campaign_target_margin');
//            campaignTargetMargin = Math.round(campaignTargetMargin * 10) /10;
            campaignTargetMarginField.value(campaignTargetMargin.toFixed(1));
            var targetMarginContainer = document.getElementById("target-margin");
            targetMarginContainer.innerHTML = "";
            targetMarginContainer.innerHTML = "<span>" + campaignTargetMargin.toFixed(1) + "</span>";
            
            var campaignValue = campaignCostAed / (1 - (campaignTargetMargin / 100));
            campaignValue = campaignValue.toFixed(2);
            var grossProfit = (campaignTargetMargin / 100) * campaignValue;
            grossProfit = grossProfit.toFixed(2);
//            var TicketSize = 0;
//            if (campaignTotalTickets > 0) {
//                TicketSize = campaignValue / campaignTotalTickets;
//                TicketSize = Math.round(TicketSize);
//            }

            var campaignValueAedContainer = document.getElementById("campaign-value-aed");
            campaignValueAedContainer.innerHTML = "";
            campaignValueAedContainer.innerHTML = "<span>" + Math.round(campaignValue) + "</span>";

            var campaignGrossProfitContainer = document.getElementById("campaign-gross-profit-aed");
            campaignGrossProfitContainer.innerHTML = "";
            campaignGrossProfitContainer.innerHTML = "<span>" + Math.round(grossProfit) + "</span>";

//            var campaignTicketSizeContainer = document.getElementById("campaign-ticket-size");
//            campaignTicketSizeContainer.innerHTML = "";
//            campaignTicketSizeContainer.innerHTML = "<span>" + TicketSize + "</span>";
        }
        function calculateTargetMargin(total_tickets, selling_price, campaignCostAED) {
            return ((total_tickets * selling_price) - campaignCostAED) / (total_tickets * selling_price);
        }
    });
</script>