<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$campaign = $block->getCampaignData();
$productId = $campaign->getCampaignProductId();
$prizeProductId = $campaign->getCampaignPrizeId();
$campaignGateway = ($campaign->getCampaignPaymentGateway() > 0) ? $campaign->getCampaignPaymentGateway() : 0;
$campaignShipping = ($campaign->getCampaignShipping() > 0) ? $campaign->getCampaignShipping() : 0;
$campaignVat = ($campaign->getCampaignShipping() > 0) ? $campaign->getCampaignVat() : 0;
$campaignOther = ($campaign->getCampaignOtherMargin() > 0) ? $campaign->getCampaignOtherMargin() : 0;

$product = $block->getCampaignProduct($productId);

$productPrice = 0;
$productCost = 0;
if ($product->getTypeId() == 'configurable') {
    $productTypeInstance = $product->getTypeInstance();
    $childProducts = $productTypeInstance->getUsedProducts($product);

    foreach ($childProducts as $child) {
        $firstChild = $objectManager->create('Magento\Catalog\Model\Product')->load($child->getId());
        $productPrice = $firstChild->getPrice();
        $productCost = $firstChild->getCost();

        break;
    }
} else {
    $productPrice = $product->getPrice();
    $productCost = $product->getCost();
}
$prizeProduct = $block->getCampaignPrizeProduct($prizeProductId);
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$vatSum = $campaignShipping + $block->getMarkupCost($productCost, $campaignGateway) + $productCost;
$productTotalValueAED = $block->getProductTotalAed($productCost, $campaignGateway, $campaignShipping, $campaignVat, $campaignOther);
$otherCostAED = $block->getOtherCost($campaign->getCampaignTotalTickets(), $productTotalValueAED);
$campaignCostAED = $prizeProduct->getPrice() + $otherCostAED;
$campaignTargetMargin = $block->calculateTargetMargin($campaign->getCampaignTotalTickets(), $productPrice, $campaignCostAED) * 100;
$campaignTargetMarginShow = round($campaignTargetMargin, 1);
$campaignValueAED = round($block->getCampaignValueAED($campaignCostAED, $campaignTargetMargin));
$grossProfitAED = round($block->getGrossProfit($campaignTargetMargin, $campaignValueAED));

$ticketSize = $block->getTicketSize($campaignValueAED, $campaign->getCampaignTotalTickets());
?>
<div class="fieldset-wrapper customer-information">
    <div class="fieldset-wrapper-title">
        <span class="title"><?= $block->escapeHtml(__('Campaign Result')) ?></span>
    </div>
    <table class="admin__table-secondary">
        <tbody>
            <tr>
                <th><b><?= $block->escapeHtml(__('Markups ')) ?></b></th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Gateway %</th>
                <th>Packaging  Cost</th>
                <th>VAT %</th>
                <th>Other %</th>
            </tr>
            <tr>
                <?php if ($campaign->getCampaignPaymentGateway()) : ?>
                    <th><b><?= $block->escapeHtml($campaignGateway) ?></b></th>
                <?php else: ?>
                    <th><b><?= $block->escapeHtml('0') ?></b></th>
                <?php endif; ?>
                <?php if ($campaign->getCampaignShipping()) : ?>
                    <th><b><?= $block->escapeHtml($campaignShipping) ?></b></th>
                <?php else: ?>
                    <th><b><?= $block->escapeHtml('0') ?></b></th>
                <?php endif; ?>
                <?php if ($campaign->getCampaignVat()) : ?>
                    <th><b><?= $block->escapeHtml($campaignVat) ?></b></th>
                <?php else: ?>
                    <th><b><?= $block->escapeHtml('0') ?></b></th>
                <?php endif; ?>
                <?php if ($campaign->getCampaignOtherMargin()) : ?>
                    <th><b><?= $block->escapeHtml($campaignOther) ?></b></th>
                <?php else: ?>
                    <th><b><?= $block->escapeHtml('0') ?></b></th>
<?php endif; ?>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <th><b><?= $block->escapeHtml(__('Proposed Listing')) ?></b></th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th><b><?= $block->escapeHtml(__('Campaign Name')) ?></b></th>
                <th><b><?= $block->escapeHtml(__('Campaign Total Tickets')) ?></b></th>
                <th><b><?= $block->escapeHtml(__('Campaign Prize Cost (AED)')) ?></b></th>
                <th><b><?= $block->escapeHtml(__('Total Products Cost(AED)')) ?></b></th>
            </tr>
            <tr>
                <td><?= $block->escapeHtml($campaign->getCampaignName()) ?></td>
                <td><?= $block->escapeHtml($campaign->getCampaignTotalTickets()) ?></td>
                <td><?= $abstractProductBlock->getProductPrice($prizeProduct) ?></td>
                <td><?= $block->escapeHtml($otherCostAED) ?></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
<!--            <tr>
                <th><b><?= $block->escapeHtml(__('Campaign Cost AED')) ?></b></th>
                <td><?= $block->escapeHtml($campaignCostAED) ?> </td>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>-->
            <tr>
                <th><b><?= $block->escapeHtml(__('Campaign Target Margin %')) ?></b></th>
                <!--<th><b><?= $block->escapeHtml(__('Ticket Size AED')) ?></b></th>-->
                <th><b><?= $block->escapeHtml(__('Campaign Cost AED')) ?></b></th>
                <th><b><?= $block->escapeHtml(__('Campaign Value AED')) ?></b></th>
                <th><b><?= $block->escapeHtml(__('Gross Profit AED')) ?></b></th>

            </tr>
            <tr>
                <td><?= $block->escapeHtml($campaignTargetMarginShow) ?> </td>
                <!--<td><?= $block->escapeHtml($ticketSize) ?></td>-->
                <td><?= $block->escapeHtml($campaignCostAED) ?></td>
                <td><?= $block->escapeHtml($campaignValueAED) ?></td>
                <td><?= $block->escapeHtml($grossProfitAED) ?></td>
            </tr>
            <tr><th>&nbsp;</th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><b><?= $block->escapeHtml(__('Product Details')) ?></b></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

            </tr>
            <tr>
                <th><?= $block->escapeHtml(__('Product SKU')) ?></th>
                <th><?= $block->escapeHtml(__('Product Name')) ?></th>
                <th><?= $block->escapeHtml(__('Product Selling Price')) ?></th>
                <td><?= $block->escapeHtml(__('Product Cost')) ?></td>
            </tr>
            <tr>
                <td><?= $block->escapeHtml($product->getSku()) ?> </td>
                <td><?= $block->escapeHtml($product->getName()) ?> </td>
                <td><?= $abstractProductBlock->getProductPrice($product) ?> </td>
                <td><?= $block->escapeHtml(round($productCost, 2)) ?></td>
            </tr>
            <tr><th>&nbsp;</th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th><b><?= $block->escapeHtml(__('Cost Structure')) ?></b></th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>

            <tr>
                <th>Gateway Cost</th>
                <th>Shipping Cost</th>
                <th>VAT Cost</th>
                <th>Other Cost</th>
            </tr>
            <tr>
                <?php if ($campaign->getCampaignPaymentGateway()) : ?>
                    <td><?= $block->escapeHtml($block->getMarkupCost($productCost, $campaignGateway)) ?></td>
                <?php else: ?>
                    <td><?= $block->escapeHtml('0') ?></td>
                <?php endif; ?>
                <?php if ($campaign->getCampaignShipping()) : ?>
                    <td><?= $block->escapeHtml($campaignShipping) ?></td>
                <?php else: ?>
                    <td><?= $block->escapeHtml('0') ?></td>
                <?php endif; ?>
                <?php if ($campaign->getCampaignVat()) : ?>
                    <td><?= $block->escapeHtml($block->getMarkupCost($vatSum, $campaignVat)) ?></td>
                <?php else: ?>
                    <td><?= $block->escapeHtml('0') ?></td>
                <?php endif; ?>
                <?php if ($campaign->getCampaignOtherMargin()) : ?>
                    <td><?= $block->escapeHtml($block->getMarkupCost($productCost, $campaignOther)) ?></td>
                <?php else: ?>
                    <td><?= $block->escapeHtml('0') ?></td>
<?php endif; ?>
            </tr>
            <tr>
                <th><b><?= $block->escapeHtml(__('Product Total AED')) ?></b></th>
                <td><?= $block->escapeHtml($block->getProductTotalAed($productCost, $campaignGateway, $campaignShipping, $campaignVat, $campaignOther)) ?> </td>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </tbody>
    </table>
</div>
