<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$taxModelConfig = $objectManager->create("\Magento\Tax\Model\Calculation\Rate");
$taxRates = $taxModelConfig->getCollection()->getData();
$shipping = $taxRates[4];
?>
<!--Shipping Tax Rate-->
<label class="label admin__field-label" for="group_name" data-ui-id="adminhtml-form-renderer-fieldset-multistore-0-text-name-label"><span><?php echo __("Packaging Cost") ?></span></label>
<div class="admin__field-control control">
    <input class="admin__control-text" type="text" id="tax-rate-shipping" name="tax-rate-shipping" value="<?= $shipping['rate'] ?>"/>
</div>
