<?php
$campaign = $block->getCampaignData();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$helperImport = $objectManager->get('\Magento\Catalog\Helper\Image');

$productId = $campaign->getCampaignProductId();
$prizeProductId = $campaign->getCampaignPrizeId();

$product = $block->getCampaignProduct($productId);
$prizeProduct = $block->getCampaignPrizeProduct($prizeProductId);

$productDescription = $campaign->getCampaignProductLine();
$prizeDescription = $campaign->getCampaignPrizeLine();
$productDescriptionAr = $campaign->getCampaignProductLineAr();
$prizeDescriptionAr = $campaign->getCampaignPrizeLineAr();
$campaignCloseTextAr = $campaign->getCampaignCloseTextAr();
$campaignCloseTextEn = $campaign->getCampaignCloseTextEn();



$price = 0;
if ($product->getTypeId() == 'configurable') {
    $productTypeInstance = $product->getTypeInstance();
    $childProducts = $productTypeInstance->getUsedProducts($product);

    foreach ($childProducts as $child) {
        $firstChild = $objectManager->create('Magento\Catalog\Model\Product')->load($child->getId());
        $price = $firstChild->getPrice();
        break;
    }
} else {
    $price = $product->getPrice();
}
$productImageUrl = $helperImport->init($product, 'product_page_image_small')
        ->setImageFile($product->getImage()) // image,small_image,thumbnail
//                ->resize(380)
        ->getUrl();
$prizeImageUrl = $helperImport->init($prizeProduct, 'product_page_image_small')
        ->setImageFile($prizeProduct->getImage()) // image,small_image,thumbnail
//                ->resize(380)
        ->getUrl();
?>
<div class="fieldset-wrapper customer-information">
    <div class="fieldset-wrapper-title">
        <span class="title"><?= $block->escapeHtml(__('Simulator Result')) ?></span>
    </div>
    <div class="block-container">
        <div class="main-prize-listing iphone-container">
            <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/PinClipart.com_iphone-clipart_342423.png'); ?>" class="iphone" alt="" />
            <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/shape-latest.svg'); ?>" class="clip-path" alt="" />
            <div class="listing-prize listing-prize11">
                <div class="semi-circle-progressbar">
                    <div class="dialdots-line">
                        <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/dots.svg'); ?>" alt="" />
                    </div>
                    <div class="progress-percentage">
                        <p class="current-value"><?= $campaign->getCampaignTotalSales() ?></p>
                        <p class="sold-out">
                            SOLD <br />
                            OUT OF
                        </p>
                        <p class="total-value"><?= $campaign->getCampaignTotalTickets() ?></p>
                    </div>
                    <div id="root-iphone"></div>
                </div>

                <div class="prize-title">
                    <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/share.PNG'); ?>" alt="" />
                    <div>
                        <?= $prizeDescription ?>
                    </div>
                </div>
                <div class="prize-img">
                    <img
                        src="<?= $prizeImageUrl ?>"
                        alt=""
                        />
                </div>
            </div>
            <div class="listing-product listing-product11">
                <div class="product-img">
                    <img
                        src="<?= $productImageUrl ?>"
                        alt=""
                        />
                </div>
                <div class="product-name">
                    <div class="product-title">
                        <?= $productDescription ?>

                        <span class="product-amount">AED <?= round($price) ?></span>
                    </div>

                    <button class="button-red">Add to cart</button>
                </div>
            </div>
            <div class="campaign-close-text-title"><div><?= $campaignCloseTextEn ?></div></div>
        </div>
        <div class="main-prize-listing samsung-container">
            <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/samsung.svg'); ?>" class="samsung" alt="" />
            <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/shape-latest.svg'); ?>" class="clip-path" alt="" />
            <div class="listing-prize listing-prize11">
                <div class="semi-circle-progressbar">
                    <div class="dialdots-line">
                        <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/dots.svg'); ?>" alt="" />
                    </div>
                    <div class="progress-percentage">
                        <p class="current-value"><?= $campaign->getCampaignTotalSales() ?></p>
                        <p class="sold-out">
                            SOLD <br />
                            OUT OF
                        </p>
                        <p class="total-value"><?= $campaign->getCampaignTotalTickets() ?></p>
                    </div>
                    <div id="root-samsung"></div>
                </div>

                <div class="prize-title">
                    <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/share.PNG'); ?>" alt="" />
                    <div>
                        <?= $prizeDescription ?>
                    </div>
                </div>
                <div class="prize-img">
                    <img
                        src="<?= $prizeImageUrl ?>"
                        alt=""
                        />
                </div>
            </div>
            <div class="listing-product listing-product11">
                <div class="product-img">
                    <img
                        src="<?= $productImageUrl ?>"
                        alt=""
                        />
                </div>
                <div class="product-name">
                    <div class="product-title">
                        <?= $productDescription ?>

                        <span class="product-amount">AED <?= round($price) ?></span>
                    </div>

                    <button class="button-red">Add to cart</button>
                </div>
            </div>
            <div class="campaign-close-text-title"><div><?= $campaignCloseTextEn ?></div></div>
        </div>
    </div>
    <div class="block-container arabic-container">
        <div class="main-prize-listing iphone-container">
            <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/PinClipart.com_iphone-clipart_342423.png'); ?>" class="iphone" alt="" />
            <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/shape-latest.svg'); ?>" class="clip-path" alt="" />
            <div class="listing-prize listing-prize11">
                <div class="semi-circle-progressbar">
                    <div class="dialdots-line">
                        <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/dots.svg'); ?>" alt="" />
                    </div>
                    <div class="progress-percentage">
                        <p class="current-value"><?= $campaign->getCampaignTotalSales() ?></p>
                        <p class="sold-out">
                            تمّ بيعها من
                        </p>
                        <p class="total-value"><?= $campaign->getCampaignTotalTickets() ?></p>
                    </div>
                    <div id="root-iphone-ar"></div>
                </div>

                <div class="prize-title">
                    <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/share.PNG'); ?>" alt="" />
                    <div>
                        <?= $prizeDescriptionAr ?>
                    </div>
                </div>
                <div class="prize-img">
                    <img
                        src="<?= $prizeImageUrl ?>"
                        alt=""
                        />
                </div>
            </div>
            <div class="listing-product listing-product11">
                <div class="product-img">
                    <img
                        src="<?= $productImageUrl ?>"
                        alt=""
                        />
                </div>
                <div class="product-name">
                    <div class="product-title">
                        <?= $productDescriptionAr ?>

                        <!--<span class="product-amount">AED <?= round($price) ?> درهم</span>-->
                        <span class="product-amount">AED <?= round($price) ?></span>
                    </div>

                    <button class="button-red">أضف إلى العربة</button>
                </div>
            </div>
            <div class="campaign-close-text-title"><div><?= $campaignCloseTextAr ?></div></div>
        </div>
        <div class="main-prize-listing samsung-container">
            <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/samsung.svg'); ?>" class="samsung" alt="" />
            <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/shape-latest.svg'); ?>" class="clip-path" alt="" />
            <div class="listing-prize listing-prize11">
                <div class="semi-circle-progressbar">
                    <div class="dialdots-line">
                        <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/dots.svg'); ?>" alt="" />
                    </div>
                    <div class="progress-percentage">
                        <p class="current-value"><?= $campaign->getCampaignTotalSales() ?></p>
                        <p class="sold-out">
                            تمّ بيعها من
                        </p>
                        <p class="total-value"><?= $campaign->getCampaignTotalTickets() ?></p>
                    </div>
                    <div id="root-samsung-ar"></div>
                </div>

                <div class="prize-title">
                    <img src="<?php echo $this->getViewFileUrl('MageDad_CampaignManagement::images/share.PNG'); ?>" alt="" />
                    <div>
                        <?= $prizeDescriptionAr ?>
                    </div>
                </div>
                <div class="prize-img">
                    <img
                        src="<?= $prizeImageUrl ?>"
                        alt=""
                        />
                </div>
            </div>
            <div class="listing-product listing-product11">
                <div class="product-img">
                    <img
                        src="<?= $productImageUrl ?>"
                        alt=""
                        />
                </div>
                <div class="product-name">
                    <div class="product-title">
                        <?= $productDescriptionAr ?>

                        <!--<span class="product-amount"><?= round($price) ?> درهم</span>-->
                        <span class="product-amount">AED <?= round($price) ?></span>
                    </div>

                    <button class="button-red">أضف إلى العربة</button>
                </div>
            </div>
            <div class="campaign-close-text-title"><div><?= $campaignCloseTextAr ?></div></div>
        </div>
    </div>
</div>
<script>
    require(['jquery', 'uiRegistry'], function ($, uiRegistry) {
        const CustomProgressbar = element => {
            const progress = '<?= ($campaign->getCampaignTotalSales() / $campaign->getCampaignTotalTickets() ) * 100 ?>';
            const maxRectRadius = 120;
            const maxDash = 205;
            const radius = 100;
            const strokeWidth = 10;
            const trackStrokeWidth = 10;
            const strokeColor = progress > 50 ? "#e03a3f" : "#ffc700";
            const pointerFillColor = progress > 50 ? "#e03a3f" : "#ffc700";
            const soldOut = false;

            const rectRadius = maxRectRadius - (progress * maxRectRadius) / 100;
            const dashOffset = (maxDash - (progress * maxDash) / 100) * -1;

            document.querySelector(
                    element
                    ).innerHTML = `<svg width="228" height="228" viewBox="0 0 228 228" style="transform:rotate(342deg)">
  <circle
     cx="114"
     cy="114"
     r="${radius}"
     fill="none"
     stroke="#e6e6e6"
     stroke-width="${trackStrokeWidth}"
     stroke-dasharray="${maxDash}, 628.3185307179587"
     stroke-linecap="round"
     class="progress-ReactCustomizableProgressbar-track"
     style="transition:all 0.3s ease 0s;"
  ></circle>
  <circle
     cx="114"
     cy="114"
     r="${radius}"
     fill="#ffffff00"
     stroke="${strokeColor}"
     stroke-width="${strokeWidth}"
     stroke-dasharray="${maxDash + dashOffset}, 628.3185307179587"
     stroke-dashoffset="${dashOffset}"
     stroke-linecap="round"
     class="progress-ReactCustomizableProgressbar-progress"
     style="transition:all 0.3s ease 0s;"
  > </circle>

  <rect
      width="25"
      height="10"
      rx="5"
      fill='${pointerFillColor}'
      style="
         transform-origin: 50% 50%;
         transform: rotate(${rectRadius}deg) translate(201px) translateY(105px);
         transition: all 3s ease 0s;
      "
   ></rect>
</svg>`;
        };

        CustomProgressbar("#root-iphone");
        CustomProgressbar("#root-samsung");
        CustomProgressbar("#root-iphone-ar");
        CustomProgressbar("#root-samsung-ar");

    });
</script>