<style>
    .admin__table-primary td {
        border-bottom: none ;
    }
</style>
<?php
$campaign = $block->getCampaignData();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>

<div class="fieldset-wrapper customer-information">
    <div class="fieldset-wrapper-title">
        <select name="ticket_action" id="ticket_action">
            <option value=''><?= $block->escapeHtml(__('Actions')) ?></option>
<!--            <option value="print"><?= $block->escapeHtml(__('Print Selected')) ?></option>-->
            <option value="printAll"><?= $block->escapeHtml(__('Print All')) ?></option>
        </select>
        <!-- <span class="title"><?= $block->escapeHtml(__('Tickets')) ?></span> -->
    </div>
    <table class="admin__table-primary">
        <?php if (count($campaign) > 0): ?>
            <tbody>
                <?php foreach ($campaign as $line): ?>
                    <tr>
                        <th>&nbsp;</th>
                        <th><?= $block->escapeHtml(__('Order Id')) ?></th>
                        <th><?= $block->escapeHtml(__('Tickets')) ?></th>
                        <th><?= $block->escapeHtml(__('Purchased By')) ?></th>
                        <th><?= $block->escapeHtml(__('Purchased At')) ?></th>
                        <th><?= $block->escapeHtml(__('Mobile Number ')) ?></th>
                    </tr>
                    <?php $tickets = explode(',', $line['ticket_numbers']); ?>
                    <?php foreach ($tickets as $ticket): ?>
                        <tr>
                            <td><input type="checkbox" hidden="true" id="ticket_<?= $block->escapeHtml($ticket) ?>" value="<?= $block->escapeHtml($ticket) . "=" . $line['increment_id'] . "=" . $block->escapeHtml($line['customer_firstname']) . ' ' . $block->escapeHtml($line['customer_lastname']) . "=" . $block->escapeHtml($line['created_at']) . "=" . $block->escapeHtml($line['phone_number']). "=" . $block->escapeHtml($line['campaign_id']) ?>"></td>
                            <td><?= $block->escapeHtml($line['increment_id']) ?></td>
                            <td><?= $block->escapeHtml($ticket) ?></td>
                            <td> <?= $block->escapeHtml($line['customer_firstname']) . ' ' . $block->escapeHtml($line['customer_lastname']) ?></td>
                            <td><?= $block->escapeHtml($line['created_at']) ?></td>
                            <td><?= $block->escapeHtml($line['phone_number']) ?></td>
                        </tr>
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </tbody>
        <?php else: ?>
            <div class="row">
                <p> There are no purchased tickets for this campaign.</p>
            </div> 
        <?php endif; ?>
    </table>
</div>
<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function ($) {
        jQuery(document).ready(function () {
            var selectedTickets = [];
            var selectedOption = null;
            $('.admin__table-primary').on('change', 'input[id^=ticket_]', function () {
                var ischecked = $(this).is(':checked');
                var ticketId = $(this).val();
//        console.log('ischecked', ischecked);
                if (ischecked) {
                    selectedTickets.push(ticketId);
                } else {
                    var index = selectedTickets.indexOf(ticketId);
                    if (index !== -1) {
                        selectedTickets.splice(index, 1);
                    }
                }
//                console.log('selectedTickets', selectedTickets);
            });

            $("select#ticket_action").change(function (event) {
                selectedOption = $(this).val();
                $('#action').val(selectedOption);
                if (selectedOption == 'print' && $(".admin__table-primary input:checkbox:checked").length > 0) {
                    getAllChecked();
                    //console.log(selectedTickets);

                } else if (selectedOption == 'printAll') {
                    $('.admin__table-primary input:checkbox').prop('checked', 'checked');
                    getAllChecked();
                } else {
                    alert("You haven't selected any items!");
                    $('select#ticket_action>option:eq("")').attr('selected', true);
                }
            });

            function getAllChecked() {
                var selectedIDs = $(".admin__table-primary input:checkbox:checked").map(function () {
                    return $(this).val();
                }).get();
                selectedTickets = selectedIDs.join(',');
                preperAjaxPdf();
            }

            function preperAjaxPdf() {
                var ajaxUrl = '<?= $url?>'+"admin/magedad_campaignmanagement/campaignmanagement/printpdf";
                $.ajax({
                    url: ajaxUrl,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        action: selectedOption,
                        selection: selectedTickets,
                    },
                    complete: function (response) {
                        window.open(
                                '<?= $url?>'+'pub/tickets.pdf',
                                '_blank' // <- This is what makes it open in a new window.
                                );
                    },
                    error: function (xhr, status, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            }

        });
    });
</script>