<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$taxModelConfig = $objectManager->create("\Magento\Tax\Model\Calculation\Rate");
$taxRates = $taxModelConfig->getCollection()->getData();
$vat = $taxRates[3];
?>
<!--VAT Tax Rate-->
<label class="label admin__field-label" for="group_name" data-ui-id="adminhtml-form-renderer-fieldset-multistore-0-text-name-label"><span><?php echo __("VAT Tax Rate") ?></span></label>
<div class="admin__field-control control">
    <input class="admin__control-text" type="text" id="tax-rate-vat" name="tax-rate-vat" value="<?= $vat['rate'] ?>" disabled="disabled"/>
</div>