<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->create('Magento\Store\Model\StoreManagerInterface');
$mediaUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$winnersCollectionFactory = $objectManager->get('MageDad\WinnerList\Model\ResourceModel\WinnerList\CollectionFactory');
$winners = [];
        $collection = $winnersCollectionFactory->create();
        $collection->addFieldToFilter('status', ['eq' => 'active']);
        $collection->setOrder('winner_id', 'DESC');
        $collection
                ->setPageSize(2) // only get 10 products 
                ->setCurPage(1)  // first page (means limit 0,10)
                ->load();
        foreach ($collection as $model) {
            $data = $model->getData();
            $prize = $objectManager->create('Magento\Catalog\Model\Product')->load($data['prize_id']);
            $childWinner['name'] = $data['winner_name'];
            $childWinner['prize_image'] = $mediaUrl. "catalog/product".$prize->getData('image');
            $childWinner['date'] = date_format(date_create((string)$data['created_at']),"F d, Y"); 
            $childWinner['image'] = $mediaUrl . "winner/" .$data['winner_image']; 
            $winners[] = $childWinner;
        }
?>

<?php foreach($winners as $winner): ?>
<tr style="border-collapse:collapse"> 
    <td align="left" style="padding:0;Margin:0;padding-bottom:20px"> 
                    <table class="es-left" cellspacing="0" cellpadding="0" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left"> 
                        <tr style="border-collapse:collapse"> 
                            <td class="es-m-p20b" align="left" style="padding:0;Margin:0;width:107px"> 
                                <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                    <tr style="border-collapse:collapse"> 
                                        <td align="center" style="padding:0;Margin:0;padding-top:30px;font-size:0px"><img src="<?= $winner['image']?>" alt style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="67"></td> 
                                    </tr> 
                                </table></td> 
                        </tr> 
                    </table> 
                    <table cellspacing="0" cellpadding="0" align="left" class="es-left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left"> 
                        <tr style="border-collapse:collapse"> 
                            <td class="es-m-p20b" align="left" style="padding:0;Margin:0;width:293px"> 
                                <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                    <tr style="border-collapse:collapse"> 
                                        <td align="left" style="padding:0;Margin:0;padding-top:40px"><h3 style="Margin:0;line-height:18px;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:18px;font-style:normal;font-weight:normal;color:#333333"><?= $winner['date']?></h3></td> 
                                    </tr> 
                                    <tr style="border-collapse:collapse"> 
                                        <td class="es-m-txt-c" align="left" style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:28px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:28px;color:#333333"><?= $winner['name']?></p></td> 
                                    </tr> 
                                </table></td> 
                        </tr> 
                    </table> 
                    <table cellpadding="0" cellspacing="0" class="es-right" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:none;margin-top: 22px;"> 
                        <tr style="border-collapse:collapse"> 
                            <td align="left" style="padding:0;Margin:0;width:200px"> 
                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                    <tr style="border-collapse:collapse"> 
                                        <td align="center" style="padding:0;Margin:0;padding-top:20px;font-size:0px"><img src="<?= $winner['prize_image'] ?>" alt style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;object-fit: contain;"  height="76" width="167"></td> 
                                    </tr> 
                                </table></td> 
                        </tr> 
                    </table> 
</td> 
</tr>
<?php endforeach; ?>