<!--@subject {{trans "Congratulation, You Won"}} @-->
{{template config_path="design/email/header_template"}}
<!--<tr style="border-collapse:collapse"> 
    <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
            <tr style="border-collapse:collapse"> 
                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                        <tr style="border-collapse:collapse"> 
                            <td align="center" style="padding:0;Margin:0;padding-bottom:40px;font-size:0px"><a target="_blank" href="http://kanziapp.com/" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#333333"><img src="{{media url=email/56001612938358619.png}}" alt style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></a></td> 
                        </tr> 
                    </table></td> 
            </tr> 
        </table>
    </td> 
</tr> -->
<tr style="border-collapse:collapse"> 
    <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
            <tr style="border-collapse:collapse"> 
                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                        <tr style="border-collapse:collapse"> 
                            <td align="center" style="padding:0;Margin:0"><h2 style="Margin:0;line-height:43px;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:18pt;font-weight:bold;font-style:normal;color:#002F54;text-transform: uppercase;{{if store_id}} direction: rtl;{{/if}}"><span style="color: #00E87B">{{if store_id}}مبروك {{else}}Mabrook!{{/if}} {{var winner_name}}, </span><br/> {{if store_id}}لقد ربحت.{{else}} You have won{{/if}}</h2></td> 
                        </tr> 
                    </table></td> 
            </tr> 
        </table></td> 
</tr> 
<tr style="border-collapse:collapse"> 
    <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
            <tr style="border-collapse:collapse"> 
                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                        <tr style="border-collapse:collapse"> 
                            <td class="es-m-txt-c" align="center" style="padding:0;Margin:0;padding-top:10px;padding-bottom:30px">
                                <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12pt;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:36px;color:#002F54;{{if store_id}} direction: rtl;{{/if}}">{{if store_id}}بعد التصفيق الحار...{{else}} Drum roll, please… {{/if}}</p>
                                <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12pt;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:36px;color:#002F54;{{if store_id}} direction: rtl;{{/if}}">{{if store_id}}نعلنك رابح لجائزة  {{var winner_prize_name}}{{else}}You just won the {{var winner_prize_name}}.{{/if}}</p>
                                <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12pt;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:36px;color:#002F54;{{if store_id}} direction: rtl;{{/if}}">{{if store_id}}وهذه ليست سوى البداية {{else}}And guess what, this is just the beginning.{{/if}}</p>
                            </td> 
                        </tr> 
                    </table></td> 
            </tr> 
        </table></td> 
</tr> 
<tr style="border-collapse:collapse"> 
    <td class="esdev-adapt-off" align="left" background="{{media url=email/winner-banner.png}}" style="padding:35px;Margin:0;background-image:url({{media url=email/winner-banner.png}});background-repeat:no-repeat;background-position:center top"> 
        <table cellpadding="0" cellspacing="0" class="esdev-mso-table" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:530px"> 
            <tr style="border-collapse:collapse"> 
                <td class="esdev-mso-td" valign="top" style="padding:0;Margin:0"> 
                    <table class="es-left" cellspacing="0" cellpadding="0" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left"> 
                        <tr style="border-collapse:collapse"> 
                            <td class="es-m-p0r" valign="top" align="center" style="padding:0;Margin:0;width:68px"> 
                                <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                    <tr style="border-collapse:collapse"> 
                                        <td align="center" style="padding:0;Margin:0;padding-top:5px;padding-left:10px;font-size:0px"><img src="{{var winner_image}}" alt style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="58"></td> 
                                    </tr> 
                                </table></td> 
                            <td style="padding:0;Margin:0;width:20px"></td> 
                        </tr> 
                    </table>
                </td> 
                <td class="esdev-mso-td" valign="top" style="padding:0;Margin:0"> 
                    <table cellspacing="0" cellpadding="0" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                        <tr style="border-collapse:collapse"> 
                            <td align="left" style="padding:0;Margin:0;width:442px"> 
                                <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                    <tr style="border-collapse:collapse"> 
                                        <td class="es-m-p15l" align="left" style="padding:0;Margin:0;padding-top:10px"><h4 style="Margin:0;line-height:28px;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:28px;color:#102654">{{var winner_name}}</h4></td> 
                                    </tr> 
                                    <tr style="border-collapse:collapse"> 
                                        <td class="es-m-txt-c" align="left" style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:18px;color:#102654">Check your reward</p></td> 
                                    </tr> 
                                </table>
                            </td> 
                        </tr> 
                    </table>
                </td> 
            </tr> 
        </table>
    </td> 
</tr> 
<tr style="border-collapse:collapse"> 
    <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
            <tr style="border-collapse:collapse"> 
                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                        <tr style="border-collapse:collapse"> 
                            <td align="left" class="es-m-txt-c" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14pt;font-weight:bold;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:42px;color:#333333;text-transform: uppercase;{{if store_id}} direction: rtl;float:right;{{/if}}"><span style="color:#00E87B">{{if store_id}}حان الوقت&nbsp;{{else}}It's time to&nbsp;{{/if}}</span><span style="color:#002F54">{{if store_id}}لتطالب بجائزتك.{{else}}claim your prize.{{/if}}</span></p></td> 
                        </tr> 
                    </table></td> 
            </tr> 
        </table>
    </td> 
</tr> 
</table></td> 
</tr> 
</table> 
<table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
    <tr style="border-collapse:collapse"> 
        <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF;padding-bottom: 20px;"> 
            <table class="es-content-body" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:separate;border-spacing:0px;background-color:#FFFFFF;border-top:1px solid #C6CFD9;border-right:1px solid #C6CFD9;border-left:1px solid #C6CFD9;width:600px;border-bottom:1px solid #C6CFD9; border-radius: 20px;"> 
                <tr style="border-collapse:collapse"> 
                    <td align="left" style="Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:35px"> 
                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                            <tr style="border-collapse:collapse"> 
                                <td align="center" valign="top" style="padding:0;Margin:0;width:558px"> 
                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                        <tr style="border-collapse:collapse"> 
                                            <!--<td align="left" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:22px;color:#002F54">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.<br><br>1- Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper<br><br>2- Suscipit lobortis nisl ut aliquip ex ea commodo consequat.<br><br>3- Duis autem vel eum iriure dolor in heerit in vulputate velit ess.<br><br>4- vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p></td>--> 
                                            <td align="left" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12pt;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:22px;color:#002F54;{{if store_id}} direction: rtl;text-align: right;{{/if}}">
                                                    <br/>
                                                    <span style="{{if store_id}} direction: rtl;{{/if}}">{{if store_id}}يرجى التواصل مع ممثل خدمة العملاء على الرقم <span style="direction: ltr">04/5463422</span> أو عبر موقعنا <a href="https://kanziapp.com">kanziapp.com</a> عند تلقيك هذا البريد الإلكتروني.{{else}}1- Please do call our customer service representative at 04-5463422 or reach out via <a href="mailto:winner@kanziapp.com">winner@kanziapp.com</a> upon receiving this emailer. {{/if}}</span>
                                                    <span style="{{if store_id}} direction: rtl;{{/if}}"><br><br>{{if store_id}}عليك باستلام الجائزة من مكتبنا في غضون 30 يومًا من تاريخ استلامك هذا البريد.{{else}}2- Your prize needs to be collected from our office within 30 days of the winner announcement.{{/if}}</span>
                                                    <span style="{{if store_id}} direction: rtl;{{/if}}"><br><br>{{if store_id}}للمطالبة بجائزتك، عليك إبراز بطاقة هوية إماراتية سارية أو نسخة عن جواز سفرك.{{else}}3- You need to present a valid emirates id or passport copy to claim your prize.{{/if}}</span>
                                                    <span style="{{if store_id}} direction: rtl;{{/if}}"><br><br>{{if store_id}}يرجى قراءة الشروط والأحكام لمعرفة باقي التفاصيل.{{else}}4- Please read through our T&C for more details.{{/if}}</span>
                                                    <span style="{{if store_id}} direction: rtl;{{/if}}"><br/><br/>{{if store_id}}يسرنا أن نكون جزءًا من رحلة الربح. استمتِع بجائزتك!{{else}}  We're so happy to be a part of your winning journey. Enjoy your prize!{{/if}}</span>
                                                </p></td> 
                                        </tr> 
                                    </table></td> 
                            </tr> 
                        </table></td> 
                </tr> 
            </table></td> 
    </tr> 
</table> 
<!--<table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
    <tr style="border-collapse:collapse"> 
        <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
            <table class="es-content-body" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
                <tr style="border-collapse:collapse"> 
                    <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                            <tr style="border-collapse:collapse"> 
                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                        <tr style="border-collapse:collapse"> 
                                            <td align="left" class="es-m-txt-c" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:28px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:42px;color:#333333"><span style="color:#002F54">Winners&nbsp;</span><span style="color:#00E87B">Announced!</span></p></td> 
                                        </tr> 
                                    </table></td> 
                            </tr> 
                        </table></td> 
                </tr>
                {{var other_winners|raw}}
                <tr style="border-collapse:collapse"> 
                    <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                            <tr style="border-collapse:collapse"> 
                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                        <tr style="border-collapse:collapse"> 
                                            <td align="center" style="padding:0;Margin:0"><span class="es-button-border" style="border-style:solid;border-color:#FFFFFF;background:#2279F6;border-width:0px;display:block;border-radius:15px;width:auto"><a href="https://kanziapp.com" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:16px;color:#FFFFFF;border-style:solid;border-color:#2279F6;border-width:20px 30px;display:block;background:#2279F6;border-radius:15px;font-weight:normal;font-style:normal;line-height:19px;width:auto;text-align:center">View our winners</a></span></td> 
                                        </tr> 
                                    </table></td> 
                            </tr> 
                        </table></td> 
                </tr> 
                <tr style="border-collapse:collapse"> 
                    <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                            <tr style="border-collapse:collapse"> 
                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                        <tr style="border-collapse:collapse"> 
                                            <td align="center" style="padding:0;Margin:0;padding-bottom:15px;font-size:0px"><a target="_blank" href="https://kanziapp.com/#/faqs" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#333333"><img class="adapt-img" src="{{media url=email/95081612945036219.png}}" alt style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></a></td> 
                                        </tr> 
                                    </table></td> 
                            </tr> 
                        </table></td> 
                </tr> 
            </table>
        </td> 
    </tr> 
</table> -->
<!--{{var other_campaign|raw}}-->
{{if store_id}}
{{var footer_html|raw}}
{{else}}
{{template config_path="design/email/footer_template"}}
{{/if}}