<!--@subject {{trans "THE RESULTS ARE IN"}} @-->
{{template config_path="design/email/header_template"}}
<div class="es-wrapper-color" style="background-color:#F6F6F6">
    <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top"> 
        <tr style="border-collapse:collapse">
            <td valign="top" style="padding:0;Margin:0">
                <!--                <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
                                    <tr style="border-collapse:collapse"> 
                                        <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
                                            <table class="es-content-body" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
                                                <tr style="border-collapse:collapse"> 
                                                    <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
                                                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                            <tr style="border-collapse:collapse"> 
                                                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                        <tr style="border-collapse:collapse"> 
                                                                            <td align="center" style="padding:0;Margin:0;font-size:0px"><img src="{{media url=email/announce.png}}" alt style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td> 
                                                                        </tr> 
                                                                    </table>
                                                                </td> 
                                                            </tr> 
                                                        </table></td> 
                                                </tr> 
                                            </table></td> 
                                    </tr> 
                                </table>-->
                <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
                    <tr style="border-collapse:collapse"> 
                        <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
                            <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
                                <tr style="border-collapse:collapse"> 
                                    <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:25px"> 
                                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                            <tr style="border-collapse:collapse"> 
                                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18pt;font-weight:bold;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:43px;color:#002F54;text-transform: uppercase;{{if store_id}} direction:rtl; {{/if}}">{{if store_id}}هل اطلعت على {{else}} the results {{/if}}<span style="color:#00E87B;">{{if store_id}}النتائج!{{else}}are in!{{/if}}</span><br></p></td> 
                                                        </tr> 
                                                    </table>
                                                </td> 
                                            </tr> 
                                        </table>
                                    </td> 
                                </tr> 
                            </table>
                        </td> 
                    </tr> 
                </table>
                <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
                    <tr style="border-collapse:collapse"> 
                        <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF">
                            <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px">
                                <tr style="border-collapse:collapse"> 
                                    <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:30px"> 
                                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                            <tr style="border-collapse:collapse"> 
                                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                        <!--                                                        <tr style="border-collapse:collapse"> 
                                                                                                                    <td align="center" style="padding:0;Margin:0">
                                                                                                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:24px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:36px;color:#002F54">
                                                                                                                            Marhaba &nbsp;{{var customer_name}}
                                                                                                                        </p>
                                                                                                                    </td> 
                                                                                                                </tr>-->
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="left" style="padding:0;Margin:0;padding-top:10px"> 
                                                                <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                    <tr style="border-collapse:collapse"> 
                                                                        <td align="center" valign="top" style="padding:0;Margin:0;width:600px"> 
                                                                            <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                                <tr style="border-collapse:collapse"> 
                                                                                    <td align="center" style="padding:0;Margin:0">
                                                                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12pt;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:29px;color:#002F54;{{if store_id}} direction:rtl; {{/if}}">
                                                                                            {{if store_id}}لقد تمّ السحب والفرص ما زالت قائمة!{{else}}The draw's over but the opportunities aren't!{{/if}} <br/>{{if store_id}}من يدري قد تكون أنت الرابح التالي…{{else}}Who knows, You could be our next big winner…{{/if}}
                                                                                        </p>
                                                                                    </td> 
                                                                                </tr> 
                                                                                <tr style="border-collapse:collapse"> 
                                                                                    <td align="left" style="padding:0;Margin:0;padding-bottom:20px">
                                                                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14pt;font-weight:bold;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:42px;color:#002F54;margin-top:60px;text-transform: uppercase;{{if store_id}} direction:rtl; float:right; {{/if}}">
                                                                                            <span style="color:#00E87B;margin-right:6px">{{if store_id}}نتائج {{else}}OUR {{/if}}</span>{{if store_id}}السحب{{else}}Draw Results{{/if}}
                                                                                        </p>
                                                                                    </td> 
                                                                                </tr> 
                                                                            </table>
                                                                        </td> 
                                                                    </tr> 
                                                                </table>
                                                            </td> 
                                                        </tr>
                                                        <table style="border-collapse:separate; border:1.5px solid #00E87B; border-radius: 20px;">
                                                            <tr>
                                                            <td class="es-m-p5t es-m-p5r es-m-p5l esdev-adapt-off" align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;"> 
                                                                <table cellpadding="0" cellspacing="0" class="esdev-mso-table" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:560px"> 
                                                                    <tr style="border-collapse:collapse">
                                                                        <td class="esdev-mso-td" valign="top" style="padding:0;Margin:0"> 
                                                                            <table cellpadding="0" cellspacing="0" class="es-left" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left"> 
                                                                                <tr style="border-collapse:collapse"> 
                                                                                    <td align="left" style="padding:0;Margin:0;padding-top:15px;width:276px"> 
                                                                                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                                            <tbody style="display:flex;align-items:center"> 
                                                                                                <tr style="border-collapse:collapse"> 
                                                                                                    <td align="center" style="padding:0;Margin:0;padding-right:10px;font-size:0px">
                                                                                                        <img src="{{var winner_image}}" alt style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="73" height="73">
                                                                                                    </td> 
                                                                                                </tr> 
                                                                                                <tr style="border-collapse:collapse"> 
                                                                                                    <td align="left" style="padding:0;Margin:0">
                                                                                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:14px;color:#686869">
                                                                                                            <span style="font-size:12px;line-height:18px">{{var winner_created}}</span><br><span style="color:#102654;font-size:20px;line-height:28px">{{var winner_name}}</span></p>
                                                                                                    </td> 
                                                                                                </tr> 
                                                                                        </table>
                                                                                    </td>
                                                                                    <td class="esdev-mso-td" valign="top" style="padding:0;Margin:0"> 
                                                                                        <table cellpadding="0" cellspacing="0" class="es-right" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right"> 
                                                                                            <tr style="border-collapse:collapse"> 
                                                                                                <td align="left" style="padding:0;Margin:0;width:279px"> 
                                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                                                        <tr style="border-collapse:collapse"> 
                                                                                                            <td align="center" style="padding:0;Margin:0;padding-bottom:20px;font-size:0px"><img src="{{var winner_prize_image}}" alt style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" height="96"></td> 
                                                                                                        </tr> 
                                                                                                    </table>
                                                                                                </td> 
                                                                                            </tr> 
                                                                                        </table>
                                                                                    </td>
                                                                                </tr> 
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>

                                                            </td>
                                                            </tr>
                                                        </table>
                                                    </table>
                                                    {{var other_campaign|raw}}
                                                    <!--                                                    <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
                                                                                                            <tr style="border-collapse:collapse"> 
                                                                                                                <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
                                                                                                                    <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
                                                                                                                        <tr style="border-collapse:collapse"> 
                                                                                                                            <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-right:20px"> 
                                                                                                                                <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                                                                                    <tr style="border-collapse:collapse"> 
                                                                                                                                        <td align="center" valign="top" style="padding:0;Margin:0;width:580px"> 
                                                                                                                                            <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                                                                                                <tr style="border-collapse:collapse"> 
                                                                                                                                                    <td align="left" style="padding:0;Margin:0;padding-bottom:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:24px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:36px;color:#333333">Earn more&nbsp;<span style="color:#00E87B">KOINZ</span></p></td> 
                                                                                                                                                </tr> 
                                                                                                                                            </table>
                                                                                                                                        </td> 
                                                                                                                                    </tr> 
                                                                                                                                </table>
                                                                                                                            </td> 
                                                                                                                        </tr> 
                                                                                                                    </table>
                                                                                                                </td> 
                                                                                                            </tr> 
                                                                                                        </table>-->
                                                    <!--                                                    <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
                                                                                                            <tr style="border-collapse:collapse"> 
                                                                                                                <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
                                                                                                                    <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;border-top:1px solid #C6CFD9;border-right:1px solid #C6CFD9;border-left:1px solid #C6CFD9;width:600px;border-bottom:1px solid #C6CFD9"> 
                                                                                                                        <tr style="border-collapse:collapse"> 
                                                                                                                            <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px">  
                                                                                                                                <table cellpadding="0" cellspacing="0" class="es-left" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left"> 
                                                                                                                                    <tr style="border-collapse:collapse"> 
                                                                                                                                        <td class="es-m-p20b" align="left" style="padding:0;Margin:0;width:268px"> 
                                                                                                                                            <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                                                                                                <tr style="border-collapse:collapse"> 
                                                                                                                                                    <td align="center" style="padding:0;Margin:0;padding-bottom:25px;font-size:0px"><img src="{{media url=email/koinz-more-icon.png}}" alt style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td> 
                                                                                                                                                </tr> 
                                                                                                                                            </table>
                                                                                                                                        </td> 
                                                                                                                                    </tr> 
                                                                                                                                </table> 
                                                    
                                                                                                                                <table cellpadding="0" cellspacing="0" class="es-right" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right"> 
                                                                                                                                    <tr style="border-collapse:collapse"> 
                                                                                                                                        <td align="left" style="padding:0;Margin:0;width:270px"> 
                                                                                                                                            <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                                                                                                <tr style="border-collapse:collapse"> 
                                                                                                                                                    <td align="left" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:21px;color:#333333">Earn Koinz whenever you refer a friend to Kanzi. Each time you hit a certain number of referrals, you’ll unlock different badges, and you’ll win even more bonus Koinz.</p></td> 
                                                                                                                                                </tr> 
                                                                                                                                            </table>
                                                                                                                                        </td> 
                                                                                                                                    </tr> 
                                                                                                                                </table> 
                                                                                                                            </td> 
                                                                                                                        </tr>
                                                                                                                        <tr style="border-collapse:collapse"> 
                                                                                                                            <td align="left" background="{{media url=email/learn-more.png}}" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-bottom:40px;background-image:url({{media url=email/learn-more.png}});background-repeat:no-repeat;background-position:center top"> 
                                                                                                                                <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                                                                                    <tr style="border-collapse:collapse"> 
                                                                                                                                        <td align="center" valign="top" style="padding:0;Margin:0;width:558px"> 
                                                                                                                                            <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                                                                                                <tr style="border-collapse:collapse"> 
                                                                                                                                                    <td align="center" class="es-m-p15t" style="padding:0;Margin:0;padding-top:20px;padding-bottom:40px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:19px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:19px;color:#2179F5">Learn more</p></td> 
                                                                                                                                                </tr> 
                                                                                                                                                <tr style="border-collapse:collapse"> 
                                                                                                                                                    <td align="center" style="padding:0;Margin:0;padding-left:40px;padding-right:40px"><span class="es-button-border" style="border-style:solid;border-color:#2CB543;background:#2279F6;border-width:0px;display:block;border-radius:14px;width:auto"><a href="https://kanziapp.com/" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:20px;color:#FFFFFF;border-style:solid;border-color:#2279F6;border-width:20px 99px;display:block;background:#2279F6;border-radius:14px;font-weight:normal;font-style:normal;line-height:24px;width:auto;text-align:center">Refer a friend</a></span></td> 
                                                                                                                                                </tr> 
                                                                                                                                            </table></td> 
                                                                                                                                    </tr> 
                                                                                                                                </table>
                                                                                                                            </td> 
                                                                                                                        </tr>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                    
                                                                                                        </table>-->
                                                </td> 
                                            </tr> 
                                        </table>
                                    </td> 
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
{{if store_id}}
{{var footer_html|raw}}
{{else}}
{{template config_path="design/email/footer_template"}}
{{/if}}