/* Media Query for Max-width */
/* Media Query for Min-width */
/* Media Query for Min & Max Width */
/* Media Query for Max Height */
/* Media Query for Min Height */
/*======= Flex Functions and Prefix Start */
/* Flex - Justify , Align */
/*  Flex Justify */
/*  Flex - Align */
/* Flex Direction */
/*======= Flex Functions and Prefix End */
/*======= Position Property Start */
/* Position Absolute Center */
/* Position Zero */
/*======= Position Property End */
/*  Custom Overlay */
/*  Transition */
/*  ::before */
/* Font Color  */
/* font family*/
/* Box Shadow */
/* Scroll */
/* footer */
/* action sheet cards color */
/* border colors */
/* home */
.block-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 630px;
}

.iphone {
    position: absolute;
    left: -50px;
    top: -100px;
    width: 450px;
    max-width: initial !important;
}

.samsung {
    position: absolute;
    left: -200px;
    top: -240px;
    width: 740px;
    max-width: initial !important; 
}

.main-prize-listing {
    width: 100%;
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translate(-32px, -5px) scale(0.7);
    border-radius: 300px 20px 20px 20px;
    border: 1px solid #c6cfd9;
    -webkit-box-shadow: 1px 1px 16px 0 rgba(80, 92, 98, 0.247);
    box-shadow: 1px 1px 16px 0 rgba(80, 92, 98, 0.247);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #fff), color-stop(0, #f7f5f8));
    background: linear-gradient(0deg, #fff 50%, #f7f5f8 0);
    margin: 20px 15px;
    height: 423px;
    border-top: 0;
    border-left: 0;
    max-width: 345px;
}

.main-prize-listing:nth-child(2) {
    -webkit-transform: translate(-40px, 20px) scale(0.7);
    transform: translate(-40px, 20px) scale(0.7);
}

.main-prize-listing:before {
    content: "";
    position: absolute;
    right: 4px;
    top: 0px;
    width: calc(100% - 99px);
    height: 25px;
    border-radius: 13px;
    border: 1px solid #c6cfd9;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-top-left-radius: 0;
}

.main-prize-listing::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 22px;
    height: calc(100% - 96px);
    border-radius: 13px;
    border: 1px solid #c6cfd9;
    z-index: 999999999;
    border-right: 0;
    border-bottom-left-radius: 28px;
    border-bottom: 0;
    border-top: 0;
    border-top-left-radius: 0;
}

.main-prize-listing .clip-path {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    border-radius: 0 20px 20px 20px;
}

.main-prize-listing .left-shape {
    width: 100%;
    height: 75%;
    background: #ffffff00;
    position: absolute;
    z-index: -2;
    bottom: 1px;
    -webkit-box-shadow: -2px 4px 14px #dadada;
    box-shadow: -2px 4px 14px #dadada;
    left: 0;
    border-radius: 297px 20px 20px 20px;
}

.main-prize-listing .listing-prize {
    position: relative;
}

.main-prize-listing .listing-prize .prize-title {
    color: #102654;
    font-family: "FilsonProBold";
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    padding: 10px;
    padding-right: 15px;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*text-transform: uppercase;*/
}

.main-prize-listing .listing-prize .prize-title img {
    margin-bottom: 15px;
}

.main-prize-listing .listing-prize .prize-title p {
    margin: 0;
}

.main-prize-listing .listing-prize .prize-title .small-line {
    font-size: 16px;
}

.main-prize-listing .listing-prize .prize-title .small-line span {
    color: #e03a3f;
}

.main-prize-listing .listing-prize .prize-title p:first-child {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    letter-spacing: -0.30px !important;
}

.main-prize-listing .listing-prize .prize-title p span {
    padding: 0 3px 0 0px;
}

/*.main-prize-listing .listing-prize .prize-img {
    margin-top: 15px;
    height: 158px;
    position: relative;
    overflow: hidden;
    margin-top: -1px;
}*/
.main-prize-listing .listing-prize .prize-img {
    margin-top: 3px;
    height: 158px;
    position: relative;
    overflow: hidden;
}

/*.main-prize-listing .listing-prize .prize-img img {
    width: 425px;
    height: 156px;
    position: absolute;
    right: -64px;
    -o-object-fit: contain;
    object-fit: contain;
}*/
.main-prize-listing .listing-prize .prize-img img {
    height: 146px;
    position: absolute;
    width: 425px;
    object-fit: contain;
    left: 40px;
}

.main-prize-listing .listing-product {
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
}

.main-prize-listing .listing-product .product-img {
    /*    width: 35%;*/
    margin-left: 13px;
    width: 120px;
    margin-top: -20px;
}

.main-prize-listing .listing-product .product-img img {
    width: 100%;
}

.main-prize-listing .listing-product .product-name {
    width: 80%;
    text-align: center;
}

.main-prize-listing .listing-product .product-name .product-title {
    font-size: 14px;
    font-family: "FilsonProBold";
    color: #686869;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-bottom: 7px;
}

.main-prize-listing .listing-product .product-name .product-title p {
    margin-bottom: 0;
    letter-spacing: -0.3px;
}

.main-prize-listing .listing-product .product-name .product-amount {
    font-size: 20px;
    font-family: "FilsonProBold";
    color: #102654;
    margin-top: 5px;
}

.main-prize-listing .listing-product .product-name .button-red {
    max-width: 126px;
    width: 100%;
    margin: 5px;
    height: 37px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-family: "FilsonProBook";
    font-weight: normal;
    color: #fff;
    background-color: #1675f9;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    margin-top: -5px;
}

.main-prize-listing .listing-prize-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 5px 10px;
}

.main-prize-listing .listing-prize-icons span {
    padding: 10px 5px 0px 15px;
}

.main-prize-listing .semi-circle-progressbar::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -49px;
    width: 120px;
    height: 128px;
    border-radius: 50%;
    background-color: #ffffff00;
}

.main-prize-listing .semi-circle-progressbar .dialdots-line {
    position: absolute;
    left: 9px;
    top: 6px;
    width: 73px;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.main-prize-listing .semi-circle-progressbar .dialdots-line img {
    width: 100%;
}

.main-prize-listing .semi-circle-progressbar .progress-bar-pointer {
    width: 14px;
    height: 5px;
    position: absolute;
    left: 48px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.main-prize-listing .semi-circle-progressbar .progress-percentage {
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 9;
}

.main-prize-listing .semi-circle-progressbar .progress-percentage p {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
    width: 50px;
}

.main-prize-listing .semi-circle-progressbar .progress-percentage p.current-value {
    font-family: "FilsonProBlack";
    color: #102654;
    font-size: 20px;
    margin-bottom: 1px;
}

.main-prize-listing .semi-circle-progressbar .progress-percentage p.sold-out {
    font-family: "FilsonProBold";
    color: #686869;
    font-size: 8px;
    font-weight: bold;
    margin: 0;
    opacity: 0.5;
}

.main-prize-listing .semi-circle-progressbar .progress-percentage p.total-value {
    font-family: "FilsonProBold";
    color: #686869;
    font-weight: bold;
    font-size: 14px;
    margin-top: 1px;
    opacity: 0.5;
}

.main-prize-listing .semi-circle-progressbar svg {
    -webkit-transform: rotate(344deg) !important;
    transform: rotate(344deg) !important;
    position: absolute;
    overflow: hidden;
    top: -51px;
    left: -54px;
    height: 145px;
    background: #fcfcfc00;
    border-radius: 50%;
    width: 153px;
}

.main-prize-listing .semi-circle-progressbar svg circle {
    position: relative;
}

.main-prize-listing .semi-circle-progressbar svg circle::before {
    content: "";
    position: relative;
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
    z-index: 999;
}
.block-container.arabic-container{
    margin-top: 50px;
}
.arabic-container .prize-title img{
    transform: scaleX(-1);
}
.arabic-container .prize-title p {
    text-align: right;
    direction: rtl;
}
.arabic-container .prize-img {
    transform: scaleX(-1);
}
.arabic-container .listing-product {
    direction: rtl;
    margin-top: 20px;
    padding-bottom: 0!important;
}
.arabic-container .main-prize-listing .listing-prize .prize-img img {
    height: 146px;
    position: absolute;
    width: 425px;
    left: 40px;
    object-fit: contain;
    right: unset!important;
}
.arabic-container .main-prize-listing .listing-prize .prize-img {
    margin-top: 0;
    height: 158px;
    position: relative;
    overflow: hidden;
    transform: unset;
    right: 0px;
}
.arabic-container .main-prize-listing .semi-circle-progressbar .progress-percentage p.sold-out {
    font-size: 9px;
    font-weight: bold;
    padding: 0 !important;
}
.arabic-container .main-prize-listing .semi-circle-progressbar .progress-percentage p.current-value{
    font-family: "FilsonProBlack";
    color: #102654;
    font-size: 20px;
    margin-bottom: 1px;
    text-align: right;
}
.arabic-container .main-prize-listing .semi-circle-progressbar .progress-percentage p.total-value{
    font-family: "FilsonProBold";
    color: #686869;
    font-weight: bold;
    font-size: 14px;
    margin-top: 1px;
    letter-spacing: -0.9px;
    text-align: right;
    padding-right: 8px;
}
.arabic-container .main-prize-listing .listing-product .product-name .button-red{
    font-family: "FilsonProBold";
}
.arabic-container .main-prize-listing .listing-product .product-name .product-title p {
    text-align: right;
}
.arabic-container .main-prize-listing .listing-product .product-name .product-amount {
    font-size: 20px;
    font-family: "FilsonProBold";
    color: #102654;
    margin-top: 5px;
}
.arabic-container .main-prize-listing .listing-prize .prize-title img {
    margin-right: -10px;
}
.arabic-container .main-prize-listing .listing-prize .prize-title p:first-child{
    justify-content: unset;
}
.main-prize-listing .campaign-close-text-title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}
/*# sourceMappingURL=campaign.css.map */