@font-face {
  font-family: "FilsonProRegular";
  src: url("../fonts/FilsonProRegular.eot");
  src: url("../fonts/FilsonProRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProRegular.woff2") format("woff2"),
    url("../fonts/FilsonProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProHeavy-Italic";
  src: url("../fonts/FilsonProHeavy-Italic.eot");
  src: url("../fonts/FilsonProHeavy-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProHeavy-Italic.woff2") format("woff2"),
    url("../fonts/FilsonProHeavy-Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProBlack";
  src: url("../fonts/FilsonProBlack.eot");
  src: url("../fonts/FilsonProBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProBlack.woff2") format("woff2"),
    url("../fonts/FilsonProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProThin-Italic";
  src: url("../fonts/FilsonProThin-Italic.eot");
  src: url("../fonts/FilsonProThin-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProThin-Italic.woff2") format("woff2"),
    url("../fonts/FilsonProThin-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProMedium";
  src: url("../fonts/FilsonProMedium.eot");
  src: url("../fonts/FilsonProMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProMedium.woff2") format("woff2"),
    url("../fonts/FilsonProMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProMedium-Italic";
  src: url("../fonts/FilsonProMedium-Italic.eot");
  src: url("../fonts/FilsonProMedium-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FilsonProMedium-Italic.woff2") format("woff2"),
    url("../fonts/FilsonProMedium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProLight";
  src: url("../fonts/FilsonProLight.eot");
  src: url("../fonts/FilsonProLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProLight.woff2") format("woff2"),
    url("../fonts/FilsonProLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProLight-Italic";
  src: url("../fonts/FilsonProLight-Italic.eot");
  src: url("../fonts/FilsonProLight-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProLight-Italic.woff2") format("woff2"),
    url("../fonts/FilsonProLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProBlack-Italic";
  src: url("../fonts/FilsonProBlack-Italic.eot");
  src: url("../fonts/FilsonProBlack-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProBlack-Italic.woff2") format("woff2"),
    url("../fonts/FilsonProBlack-Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProThin";
  src: url("../fonts/FilsonProThin.eot");
  src: url("../fonts/FilsonProThin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProThin.woff2") format("woff2"),
    url("../fonts/FilsonProThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProBold";
  src: url("../fonts/FilsonProBold.eot");
  src: url("../fonts/FilsonProBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProBold.woff2") format("woff2"),
    url("../fonts/FilsonProBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProHeavy";
  src: url("../fonts/FilsonProHeavy.eot");
  src: url("../fonts/FilsonProHeavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProHeavy.woff2") format("woff2"),
    url("../fonts/FilsonProHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProBook";
  src: url("../fonts/FilsonProBook.eot");
  src: url("../fonts/FilsonProBook.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProBook.woff2") format("woff2"),
    url("../fonts/FilsonProBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProBook-Italic";
  src: url("../fonts/FilsonProBook-Italic.eot");
  src: url("../fonts/FilsonProBook-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProBook-Italic.woff2") format("woff2"),
    url("../fonts/FilsonProBook-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProBold-Italic";
  src: url("../fonts/FilsonProBold-Italic.eot");
  src: url("../fonts/FilsonProBold-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonProBold-Italic.woff2") format("woff2"),
    url("../fonts/FilsonProBold-Italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FilsonProRegular-Italic";
  src: url("../fonts/FilsonProRegular-Italic.eot");
  src: url("../fonts/FilsonProRegular-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FilsonProRegular-Italic.woff2") format("woff2"),
    url("../fonts/FilsonProRegular-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
