<!--@subject {{trans "Contact Us Enquiry"}} @-->
{{template config_path="design/email/header_template"}}
<div class="es-wrapper-color" style="background-color:#F6F6F6">
    <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top"> 
        <tr style="border-collapse:collapse">
            <td valign="top" style="padding:0;Margin:0">
                <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
                    <tr style="border-collapse:collapse"> 
                        <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
                            <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
                                <tr style="border-collapse:collapse"> 
                                    <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:25px"> 
                                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                            <tr style="border-collapse:collapse"> 
                                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18pt;font-weight: bold;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:43px;color:#00E87B; {{if store_id}} direction: rtl;{{/if}}">{{if store_id}}يسرّنا {{else}}So great {{/if}}<span style="color:#002F54;">{{if store_id}}تواصلك معنا!{{else}}to hear from you!{{/if}}</span><br></p></td> 
                                                        </tr> 
                                                    </table>
                                                </td> 
                                            </tr> 
                                        </table>
                                    </td> 
                                </tr> 
                            </table>
                        </td> 
                    </tr> 
                </table>
                <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
                    <tr style="border-collapse:collapse"> 
                        <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF">
                            <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px">
                                <tr style="border-collapse:collapse"> 
                                    <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:30px"> 
                                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                            <tr style="border-collapse:collapse"> 
                                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="left" style="padding:0;Margin:0;padding-top:10px"> 
                                                                <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                    <tr style="border-collapse:collapse"> 
                                                                        <td align="center" valign="top" style="padding:0;Margin:0;width:600px"> 
                                                                            <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                                <tr style="border-collapse:collapse"> 
                                                                                    <td align="center" style="padding:0;Margin:0">
                                                                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12pt;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:29px;color:#002F54;{{if store_id}} direction: rtl;{{/if}}">
                                                                                            {{if store_id}}هلا {{else}}Hala {{/if}}{{var customer_name|raw}},
                                                                                            <br/>
                                                                                            {{if store_id}}شكرًا على تواصلك معنا.{{else}}Thank you for reaching out.{{/if}}
                                                                                            <br/>
                                                                                            {{if store_id}}سنرد على رسالتك في أقرب وقت ممكن.{{else}}We'll get back to you as soon as possible.{{/if}}
                                                                                            <br/>
                                                                                        </p>
                                                                                    </td> 
                                                                                </tr> 
                                                                            </table>
                                                                        </td> 
                                                                    </tr> 
                                                                </table>
                                                            </td> 
                                                        </tr>
                                                    </table>
                                                </td> 
                                            </tr> 
                                        </table>
                                    </td> 
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
                    <tr style="border-collapse:collapse"> 
                        <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
                            <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
                                <tr style="border-collapse:collapse"> 
                                    <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:25px"> 
                                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                            <tr style="border-collapse:collapse"> 
                                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16pt;font-weight: bold;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:43px;color:#002F54; {{if store_id}} direction: rtl;{{/if}}">{{if store_id}}فريق {{else}}TEAM {{/if}}<span style="color:#00E87B;">KANZI</span><br></p></td> 
                                                        </tr> 
                                                    </table>
                                                </td> 
                                            </tr> 
                                        </table>
                                    </td> 
                                </tr> 
                            </table>
                        </td> 
                    </tr> 
                </table>
            </td>
        </tr>
    </table>
</div>
{{if store_id}}
{{var footer_html|raw}}
{{else}}
{{template config_path="design/email/footer_template"}}
{{/if}}