<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Sales\Block\Adminhtml\Items\Renderer\DefaultRenderer */ ?>
<?php $_item = $block->getItem() ?>
<?php $_item->setStoreId($_item->getInvoice()->getStoreId()) ?>
<?php $block->setPriceDataObject($_item) ?>
<?php
$currencyCode = $_item->getOrderItem()->getOrder()->getOrderCurrencyCode();
$price = (float)$_item->getPrice();
$priceExclTax = $price / 1.05;
$linePrice = $currencyCode . number_format(round($priceExclTax, 2), 2, '.', '');
$vatSingle = $priceExclTax * 0.05;
$vatAmount = $vatSingle * (float) $_item->getQty();
$taxPrice = $currencyCode . number_format(round($vatAmount, 2), 2, '.', '');
//$orderHelper = $_objectManager->create('\MageDad\Order\Helper\Data');
//$originalPrice = $orderHelper->getPriceExclusiveTax($_item);
?>
<tr>
    <td class="col-product"><?= $block->getColumnHtml($_item, 'name') ?></td>
    <td class="col-price">
        <div class="price-excl-tax">
            <?= '<span class="price">' . $linePrice . '</span>' ?>
        </div>
    </td>
    <td class="col-price">
        <?= $block->getColumnHtml($_item, 'price') ?>
    </td>
    <td class="col-qty"><?= (float) $_item->getQty() ?></td>
    <td class="col-subtotal">
        <?= $block->getColumnHtml($_item, 'subtotal') ?>
    </td>
    <!--<td class="col-tax"><?= /* @noEscape */ $block->displayPriceAttribute('tax_amount') ?></td>-->
    <td class="col-tax"><?= '<span class="price">' . $taxPrice . '</span>' ?></td>
    <td class="col-tax-percent"><?= '<span class="price">5%</span>' ?></td>
    <td class="col-discount"><?= /* @noEscape */ $block->displayPriceAttribute('discount_amount') ?></td>
    <td class="col-total last">
        <?= $block->getColumnHtml($_item, 'total') ?>
    </td>
</tr>
