<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productRepository = $objectManager->get('Magento\Catalog\Api\ProductRepositoryInterface');
$storeManager  = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$mediaUrl      = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).'catalog/product';
$campaigns     = $objectManager->get('MageDad\CampaignManagement\Model\ResourceModel\CampaignManagement\CollectionFactory')
        				->create();
$campaigns->addFieldToFilter('status', ['eq' => 'active']);
$campaigns->getSelect()
        ->reset(\Zend_Db_Select::COLUMNS)
        ->columns(['campaign_prize_id']);
$campaigns->getSelect()->order('RAND()')->limit(2);
$otherPrizeIds = array_column($campaigns->toArray()['items'], 'campaign_prize_id');
$otherCampaignHtml = '<table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
         <tbody><tr style="border-collapse:collapse"> 
          <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
           <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
             <tbody><tr style="border-collapse:collapse"> 
              <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                 <tbody><tr style="border-collapse:collapse"> 
                  <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr style="border-collapse:collapse"> 
                      <td align="left" class="es-m-txt-c" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14pt;font-weight:bold;font-family:arial, helvetica neue, helvetica, sans-serif;line-height:42px;color:#00E87B;text-transform: uppercase;">Live <span style="color:#002F54">Campaigns!</span></p></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
             <tr style="border-collapse:collapse"> 
              <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
               <!--[if mso]><table style="width:560px" cellpadding="0" cellspacing="0"><tr><td style="width:270px" valign="top"><![endif]-->';

if($otherPrizeIds){
	$i = 1;
	foreach($otherPrizeIds as $productId){
		$prize = $productRepository->getById($productId);
		$thumbnailUrl = $mediaUrl.$prize->getThumbnail();
		$class = ($i == 1) ? 'left' : 'right';
		$otherCampaignHtml .= '<table cellpadding="0" cellspacing="0" class="es-'.$class.'" align="'.$class.'" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:'.$class.'"> 
                 <tbody><tr style="border-collapse:collapse"> 
                  <td class="es-m-p20b" align="'.$class.'" style="padding:0;Margin:0;width:270px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#F7F5F8" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:separate;border-spacing:0px;background-color:#F7F5F8;border-radius:25px" role="presentation"> 
                     <tbody><tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0;padding-top:25px;padding-bottom:25px;font-size:0px"><img src="'.$thumbnailUrl.'" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" height="90"></td> 
                     </tr> 
                     <tr style="border-collapse:collapse"> 
                      <td align="left" style="padding:0;Margin:0;padding-left:25px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:arial, helvetica neue, helvetica, sans-serif;line-height:21px;color:#102654">'.$block->escapeHtml(__($prize->getName())).'</p></td> 
                     </tr> 
                     <tr style="border-collapse:collapse"> 
                      <td align="left" style="padding:0;Margin:0;padding-bottom:20px;padding-left:25px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18px;font-family:arial, helvetica neue, helvetica, sans-serif;line-height:21px;color:#102654">'.$block->escapeHtml(__($storeManager->getStore()->getCurrentCurrency()->getCode())).' '.number_format($prize->getPrice(),2).'</p></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table>';
        if($i == 1) $otherCampaignHtml .= '<!--[if mso]></td><td style="width:20px"></td><td style="width:270px" valign="top"><![endif]-->';
        $i++;
	}
}

$otherCampaignHtml .= '<!--[if mso]></td></tr></table><![endif]-->
             </td> 
             </tr> 
             <tr style="border-collapse:collapse"> 
              <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                 <tbody><tr style="border-collapse:collapse"> 
                  <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0"><span class="es-button-border" style="border-style:solid;border-color:#2CB543;background:#2279F6;border-width:0px;display:block;border-radius:8px;width:auto"><a href="'.$block->getBaseUrl().'" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, helvetica neue, helvetica, sans-serif;font-size:18px;color:#FFFFFF;border-style:solid;border-color:#2279F6;border-width:15px 20px;display:block;background:#2279F6;border-radius:8px;font-weight:normal;font-style:normal;line-height:22px;width:auto;text-align:center">'.$block->escapeHtml(__("Shop Now")).'</a></span></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
           </tbody></table></td> 
         </tr> 
       </tbody></table>';


echo $otherCampaignHtml;
/*
removed KOinz title html

<tr style="border-collapse:collapse"> 
                      <td align="left" class="es-m-txt-c" style="padding:0;Margin:0;padding-bottom:10px;padding-top:30px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:28px;font-family:arial, helvetica neue, helvetica, sans-serif;line-height:42px;color:#002F54">'.$block->escapeHtml(__("Earn")).'&nbsp;<span style="color:#00E87B">'.$block->escapeHtml(__("KOINZ")).'</span></p></td> 
</tr>
 *  */