<!--@subject {{trans "Welcome to KANZI"}} @-->
{{template config_path="design/email/header_template"}}
<div class="es-wrapper-color" style="background-color:#F6F6F6">
    <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top"> 
        <tr style="border-collapse:collapse">
            <td valign="top" style="padding:0;Margin:0">
                <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
                    <tr style="border-collapse:collapse"> 
                        <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
                            <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
                                <tr style="border-collapse:collapse"> 
                                    <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:25px"> 
                                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                            <tr style="border-collapse:collapse"> 
                                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18pt;font-weight: bold;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:43px;color:#00E87B;text-transform: uppercase;{{if store_id}} direction: rtl;{{/if}}">{{if store_id}}مرحبًا{{else}}HALA{{/if}} {{var customer_name|raw}}{{if store_id}}، {{else}},{{/if}}<br/><span style="color:#002F54;">{{if store_id}}أهلًا بك في KANZI{{else}}Welcome to KANZI.{{/if}}</span><br></p></td> 
                                                        </tr> 
                                                    </table>
                                                </td> 
                                            </tr> 
                                        </table>
                                    </td> 
                                </tr> 
                            </table>
                        </td> 
                    </tr> 
                </table>
                <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
                    <tr style="border-collapse:collapse"> 
                        <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF">
                            <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px">
                                <tr style="border-collapse:collapse"> 
                                    <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:30px"> 
                                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                            <tr style="border-collapse:collapse"> 
                                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="left" style="padding:0;Margin:0;padding-top:10px"> 
                                                                <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                    <tr style="border-collapse:collapse"> 
                                                                        <td align="center" valign="top" style="padding:0;Margin:0;width:600px"> 
                                                                            <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                                <tr style="border-collapse:collapse"> 
                                                                                    <td align="center" style="padding:0;Margin:0">
                                                                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12pt;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:29px;color:#002F54;{{if store_id}} direction: rtl;{{/if}}">
                                                                                            {{if store_id}}يسرّنا وجودك هنا!{{else}}We're so excited you’re here! <br/>And we can't wait to be a part of your winning journey.{{/if}}
                                                                                            <br/><br/>
                                                                                            {{if store_id}}ويسرنا أن نشاركك رحلة الربح.{{else}}Most people would say, winning is a game of chance. Well, we're not most people!{{/if}}
											    {{if store_id}}
											    <br/><br/>
											    البعض يرى الربح لعبة حظ. حسنًا، بالنسبة إلينا الربح فرصة يمكن استغلالها!
											    {{/if}}
                                                                                            <br/><br/>
											    {{if store_id}}
											    في KANZI اخترقنا مفهوم الربح بإنشاء منصة موثوق بها ستوفر لك فرصًا مذهلة لربح جوائز قيّمة!</br>
											    كل ما عليك القيام به هو تصفّح جوائزنا واختيار العروض التي تعجبك والتسوق من تشكيلة منتجاتنا ولوازمنا الرائعة.
											    {{else}}
                                                                                            At KANZI, we've hacked winning by creating a trustworthy and reliable platform that brings you amazing opportunities to win big. All you have to do is browse through our prizes, select campaigns you like and shop from our cool range of products and gadgets.
											    {{/if}}
                                                                                            <br/><br/>
											    {{if store_id}}
											    ما رأيك... لو تستغل فرصتك الآن؟
											    {{else}}
                                                                                            So, what do you say…let's get winning?
											    {{/if}}
                                                                                        </p>
                                                                                    </td> 
                                                                                </tr> 
                                                                            </table>
                                                                        </td> 
                                                                    </tr> 
                                                                </table>
                                                            </td> 
                                                        </tr>
                                                    </table>
                                                    {{var product_campaign|raw}}
                                                    {{var other_campaign|raw}}
                                                </td> 
                                            </tr> 
                                        </table>
                                    </td> 
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
{{if store_id}}
{{var footer_html|raw}}
{{else}}
{{template config_path="design/email/footer_template"}}
{{/if}}