<!--@subject {{trans "Welcome to KANZI"}} @-->
{{template config_path="design/email/header_template"}}
<div class="es-wrapper-color" style="background-color:#F6F6F6">
    <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top"> 
        <tr style="border-collapse:collapse">
            <td valign="top" style="padding:0;Margin:0">
                <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
                    <tr style="border-collapse:collapse"> 
                        <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
                            <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
                                <tr style="border-collapse:collapse"> 
                                    <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:25px"> 
                                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                            <tr style="border-collapse:collapse"> 
                                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18pt;font-weight: bold;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:43px;color:#00E87B;text-transform: uppercase;">THIS CHANGES WINNING? <br/><span style="color:#002F54;">YOU BET!</span><br></p></td> 
                                                            <!--<td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18pt;font-weight: bold;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:43px;color:#00E87B;text-transform: uppercase;">HALA {{var customer_name|raw}}, <span style="color:#002F54;">Welcome to KANZI.</span><br></p></td>--> 
                                                        </tr> 
                                                    </table>
                                                </td> 
                                            </tr> 
                                        </table>
                                    </td> 
                                </tr> 
                            </table>
                        </td> 
                    </tr> 
                </table>
                <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
                    <tr style="border-collapse:collapse"> 
                        <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF">
                            <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px">
                                <tr style="border-collapse:collapse"> 
                                    <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:30px"> 
                                        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                            <tr style="border-collapse:collapse"> 
                                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="left" style="padding:0;Margin:0;padding-top:10px"> 
                                                                <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                    <tr style="border-collapse:collapse"> 
                                                                        <td align="center" valign="top" style="padding:0;Margin:0;width:600px"> 
                                                                            <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                                                <tr style="border-collapse:collapse"> 
                                                                                    <td align="center" style="padding:0;Margin:0">
                                                                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12pt;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:29px;color:#002F54;font-weight: bold">Marhaba {{var customer_name|raw}}</p>
                                                                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12pt;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:29px;color:#002F54;">
                                                                                            We're super excited to introduce <span style="color: #00E87B">KANZI</span>, our innovative 'shop to win' platform, where you get to shop for cool products and win amazing prizes!
                                                                                            <br/><br/>
                                                                                            And we can't wait for you to try it!
                                                                                            <br/><br/>
                                                                                            All you have to do is:<br/>
                                                                                            1. DOWNLOAD the app on Apple Store or Google play<br/>
                                                                                            2. Browse our live campaign prizes<br/>
                                                                                            3. Shop for products<br/>
                                                                                            4. And Get your ticket to join the draw
                                                                                            <br/><br/>
                                                                                            Also, guess what, we're giving a special few like you<br/>
                                                                                            <span style="color: #00E87B;font-size: 16pt;font-weight: bold;text-transform: uppercase">FREE CREDIT WORTH AED 50</span> that you can use to shop on KANZI! 
                                                                                            <br/><br/>
                                                                                            So, go ahead, download now, shop to win, and let us know what you think.<br/>
                                                                                            <span style="color: #00E87B;font-size: 16pt;font-weight: bold;">We'd love to hear back from you.</span>
                                                                                            <br/><br/>
                                                                                            <span style="color: #00E87B;font-size: 16pt;font-weight: bold;text-transform: uppercase">Have fun </span><span style="text-transform: uppercase;font-size: 16pt;font-weight: bold;color:#002F54">winning</span><br/>
                                                                                            <span style="font-size: 16pt;font-weight: bold;text-transform: uppercase;color:#002F54">Team </span><span style="text-transform: uppercase;color: #00E87B;font-size: 16pt;font-weight: bold">kanzi</span>
                                                                                        </p>
                                                                                    </td> 
                                                                                </tr> 
                                                                            </table>
                                                                        </td> 
                                                                    </tr> 
                                                                </table>
                                                            </td> 
                                                        </tr>
                                                    </table>
<!--                                                    {{var product_campaign|raw}}
                                                    {{var other_campaign|raw}}-->
                                                </td> 
                                            </tr> 
                                        </table>
                                    </td> 
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
{{template config_path="design/email/footer_template"}}