<!--@subject {{trans "Approved About to Active Campaigns"}} @-->
<p>Hello ,<br/></p>
<p><b> {{var campaign_name}} </b> will be ACTIVE tomorrow, Please take a look on details in the URL below: <br/><br/></p>
<br/><p>{{var link}}</p>
<p><br/>Thanks</p>
