<!--@subject {{trans "Campaign Sold OUT!"}} @-->
{{template config_path="design/email/header_template"}}
<!--<tr style="border-collapse:collapse"> 
  <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
   <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
     <tbody><tr style="border-collapse:collapse"> 
      <td valign="top" align="center" style="padding:0;Margin:0;width:560px"> 
       <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
         <tbody><tr style="border-collapse:collapse"> 
          <td align="center" style="padding:0;Margin:0;padding-bottom:10px;font-size:0px"><img src="{{media url=email/sold_out_icon.png}}" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td> 
         </tr> 
       </tbody></table></td> 
     </tr> 
   </tbody>
   </table>
  </td> 
 </tr>-->
<tr style="border-collapse:collapse"> 
    <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
            <tbody><tr style="border-collapse:collapse"> 
                    <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                            <tbody><tr style="border-collapse:collapse"> 
                                    <td align="center" class="es-m-txt-c" style="padding:0;Margin:0">
                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18pt;font-weight:bold;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:54px;color:#00E87B;text-transform: uppercase; {{if store_id}} direction: rtl; {{/if}}">{{if store_id}}جهّز نفسك{{else}}You Could be our{{/if}} <span style="color:#002F54">{{if store_id}}لتكون الرابح التالي!{{else}}Next BIG Winner!{{/if}} </span></p>
                                    </td> 
                                </tr> 
                                <tr style="border-collapse:collapse"> 
                                    <td align="center" class="es-m-txt-c" style="padding:0;Margin:0;padding-top:15px;padding-bottom:25px">
                                        <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12pt;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:48px;color:#002F54; {{if store_id}} direction: rtl; {{/if}}">{{if store_id}}تهانينا! وصل العرض إلى نهايته.<br/> تابعنا لتطلع على نتائج السحب.{{else}}Yay, your campaign is sold out. Stay tuned for the draw results.{{/if}} </p>
                                    </td> 
                                </tr> 
                            </tbody></table></td> 
                </tr> 
            </tbody></table></td> 
</tr>
<tr style="border-collapse:collapse"> 
    <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
        <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
            <tbody><tr style="border-collapse:collapse"> 
                    <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                            <tbody><tr style="border-collapse:collapse"> 
                                    <td align="left" class="es-m-txt-c" style="padding:0;Margin:0;padding-bottom:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14pt;font-weight: bold;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:42px;color:#00E87B;text-transform: uppercase; {{if store_id}} direction: rtl;float:right; {{/if}}">{{if store_id}}عرضك{{else}}Your{{/if}}&nbsp;<span style="color:#002F54">{{if store_id}}الخاص{{else}}Campaign{{/if}}</span></p></td> 
                                </tr> 
                            </tbody></table></td> 
                </tr> 
            </tbody></table></td> 
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
    <tbody><tr style="border-collapse:collapse"> 
            <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
                <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:separate;border-spacing:0px;background-color:#FFFFFF;border-top:1px solid #C6CFD9;border-right:1px solid #C6CFD9;border-left:1px solid #C6CFD9;width:600px;border-bottom:1px solid #C6CFD9;border-radius: 20px;"> 
                    <tbody><tr style="border-collapse:collapse"> 
                            <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
                                <!--[if mso]><table style="width:558px" cellpadding="0" cellspacing="0"><tr><td style="width:269px" valign="top"><![endif]--> 
                                <table cellpadding="0" cellspacing="0" align="left" class="es-left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left"> 
                                    <tbody><tr style="border-collapse:collapse"> 
                                            <td class="es-m-p20b" align="center" valign="top" style="padding:0;Margin:0;width:269px"> 
                                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                    <tbody><tr style="border-collapse:collapse"> 
                                                            <td align="left" class="es-m-txt-l" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:31px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:47px;color:#102654"><strong>{{var campaign_total_sales}}</strong></p></td> 
                                                        </tr> 
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="left" class="es-m-txt-l" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:18px;color:#333333">{{trans "Sold OUT OF"}}</p></td> 
                                                        </tr> 
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="left" class="es-m-txt-l" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;color:#333333"><strong>{{var campaign_total_tickets}}</strong></p></td> 
                                                        </tr> 
                                                    </tbody></table></td> 
                                        </tr> 
                                        <tr style="border-collapse:collapse"> 
                                            <td class="es-m-p20b" align="center" valign="top" style="padding:0;Margin:0;width:269px"> 
                                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                    <tbody><tr style="border-collapse:collapse"> 
                                                            <td align="center" style="padding:0;Margin:0;font-size:0px"><img class="adapt-img" src="{{media url=email/sold_out.png}}" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td> 
                                                        </tr> 
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="center" style="padding:0;Margin:0;font-size:0px"><img src="{{var product_thumbnail}}" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="109"></td> 
                                                        </tr> 
                                                    </tbody></table></td> 
                                        </tr> 
                                    </tbody></table> 
                                <!--[if mso]></td><td style="width:20px"></td><td style="width:269px" valign="top"><![endif]--> 
                                <table cellpadding="0" cellspacing="0" class="es-right" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right"> 
                                    <tbody><tr style="border-collapse:collapse"> 
                                            <td align="left" style="padding:0;Margin:0;width:269px"> 
                                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                    <tbody><tr style="border-collapse:collapse"> 
                                                            <td align="left" class="es-m-txt-c es-m-p35t" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:21px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:32px;color:#686869; {{if store_id}} direction: rtl; {{/if}}">{{var campaign_product_line|raw}}</p></td> 
                                                        </tr> 
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:31px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:47px;color:#102654; ">{{var currency_code}} {{var product_price}}</p></td> 
                                                        </tr> 
                                                    </tbody></table></td> 
                                        </tr> 
                                        <tr style="border-collapse:collapse"> 
                                            <td align="left" style="padding:0;Margin:0;width:269px"> 
                                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                    <tbody><tr style="border-collapse:collapse"> 
                                                            <td align="center" style="padding:0;Margin:0;font-size:0px"><img class="adapt-img" src="{{var prize_thumbnail}}" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="269"></td> 
                                                        </tr> 
                                                    </tbody></table></td> 
                                        </tr> 
                                    </tbody></table> 
                                <!--[if mso]></td></tr></table><![endif]--></td> 
                        </tr> 
                        <tr style="border-collapse:collapse"> 
                            <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
                                <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                    <tbody><tr style="border-collapse:collapse"> 
                                            <td align="center" valign="top" style="padding:0;Margin:0;width:558px"> 
                                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                    <tbody><tr style="border-collapse:collapse"> 
                                                            <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:30px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:30px;color:#333333"><span style="color:#102654; {{if store_id}} direction: rtl; {{/if}}">&amp; {{var campaign_prize_line|raw}}</span></p><br></td> 
                                                        </tr> 
                                                    </tbody></table></td> 
                                        </tr> 
                                    </tbody></table></td> 
                        </tr> 
                    </tbody></table></td> 
        </tr> 
    </tbody></table>

{{var other_campaign|raw}}

<!--       <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
         <tbody><tr style="border-collapse:collapse"> 
          <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
           <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;border-top:1px solid #C6CFD9;border-right:1px solid #C6CFD9;border-left:1px solid #C6CFD9;width:600px;border-bottom:1px solid #C6CFD9"> 
             <tbody><tr style="border-collapse:collapse"> 
              <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:25px"> 
               [if mso]><table style="width:558px" cellpadding="0" cellspacing="0"><tr><td style="width:138px" valign="top"><![endif] 
               <table cellpadding="0" cellspacing="0" class="es-left" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left"> 
                 <tbody><tr style="border-collapse:collapse"> 
                  <td class="es-m-p20b" align="left" style="padding:0;Margin:0;width:138px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0;font-size:0px"><img src="{{media url=email/coins_icons_large.png}}" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td> 
                     </tr>
                   </tbody></table></td> 
                 </tr> 
               </tbody></table> 
               [if mso]></td><td style="width:0px"></td><td style="width:420px" valign="top"><![endif] 
               <table cellpadding="0" cellspacing="0" class="es-right" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right"> 
                 <tbody><tr style="border-collapse:collapse"> 
                  <td align="left" style="padding:0;Margin:0;width:420px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr style="border-collapse:collapse"> 
                      <td align="left" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333">{{trans "Earn Koinz whenever you refer a friend to Kanzi. Each time you hit a certain number of referrals, you’ll unlock different badges, and you’ll win even more bonus Koinz"}}.</p></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table> 
               [if mso]></td></tr></table><![endif]</td> 
             </tr> 
             <tr style="border-collapse:collapse"> 
              <td align="left" style="Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:30px"> 
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                 <tbody><tr style="border-collapse:collapse"> 
                  <td align="center" valign="top" style="padding:0;Margin:0;width:558px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0;padding-bottom:20px"><span class="es-button-border" style="border-style:dashed;border-color:#2179F5;background:transparent;border-width:1px;display:block;border-radius:8px;width:auto"><a href="{{config path='web/secure/base_url'}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:18px;color:#2179F5;border-style:solid;border-color:#E7F1FD;border-width:15px 20px;display:block;background:#E7F1FD;border-radius:8px;font-weight:normal;font-style:normal;line-height:22px;width:auto;text-align:center">{{trans "Learn more"}}</a></span></td> 
                     </tr> 
                     <tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0"><span class="es-button-border" style="border-style:solid;border-color:#2CB543;background:#2279F6;border-width:0px;display:block;border-radius:8px;width:auto"><a href='{{config path="web/secure/base_url"}}' class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:18px;color:#FFFFFF;border-style:solid;border-color:#2279F6;border-width:15px 20px;display:block;background:#2279F6;border-radius:8px;font-weight:normal;font-style:normal;line-height:22px;width:auto;text-align:center">{{trans "Explore more campaigns"}}</a></span></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
           </tbody></table></td> 
         </tr> 
       </tbody></table>
-->
<!--       <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
         <tbody><tr style="border-collapse:collapse"> 
          <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
           <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
             <tbody>
                 <tr style="border-collapse:collapse"> 
              <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                 <tbody><tr style="border-collapse:collapse"> 
                  <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0;padding-top:15px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:27px;color:#002F54">{{trans "Enjoyed shopping with Kanzi?"}}<br><br>{{trans "Download the app &amp; benefit from"}}<br>{{trans "our shopping experience"}}</p></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
             <tr style="border-collapse:collapse"> 
              <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
               [if mso]><table style="width:560px" cellpadding="0" cellspacing="0"><tr><td style="width:270px" valign="top"><![endif] 
               <table cellpadding="0" cellspacing="0" class="es-left" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left"> 
                 <tbody><tr style="border-collapse:collapse"> 
                  <td class="es-m-p20b" align="left" style="padding:0;Margin:0;width:270px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0;font-size:0px"><img class="adapt-img" src="{{media url=email/apple_store.png}}" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table> 
               [if mso]></td><td style="width:20px"></td><td style="width:270px" valign="top"><![endif] 
               <table cellpadding="0" cellspacing="0" class="es-right" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right"> 
                 <tbody><tr style="border-collapse:collapse"> 
                  <td align="left" style="padding:0;Margin:0;width:270px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0;font-size:0px"><img class="adapt-img" src="{{media url=email/google_store.png}}" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table> 
               [if mso]></td></tr></table><![endif]</td> 
             </tr> 
           </tbody></table></td> 
         </tr> 
       </tbody></table>-->

{{if store_id}}
{{var footer_html|raw}}
{{else}}
{{template config_path="design/email/footer_template"}}
{{/if}}