<!--@subject {{trans "Your kanzi order confirmation!"}} @-->
{{template config_path="design/email/header_template"}}

<!--<table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
         <tbody><tr style="border-collapse:collapse"> 
          <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
           <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
             <tbody><tr style="border-collapse:collapse"> 
              <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:40px"> 
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                 <tbody><tr style="border-collapse:collapse"> 
                  <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tbody><tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0;font-size:0px"><img src="{{media url=email/emoji.png}}" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
           </tbody></table></td> 
         </tr> 
       </tbody>
</table>-->
<table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
    <tbody><tr style="border-collapse:collapse"> 
            <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
                <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
                    <tbody><tr style="border-collapse:collapse"> 
                            <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:25px"> 
                                <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                    <tbody><tr style="border-collapse:collapse"> 
                                            <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                    <tbody><tr style="border-collapse:collapse"> 
                                                            <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18pt;font-weight:bold;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:43px;color:#00E87B;text-transform: uppercase;{{if store_id}} direction:rtl;{{/if}}">{{if store_id}}التذكرة الرابحة {{else}} {{trans "This could be"}} {{/if}}<span style="color:#002F54">{{if store_id}}قد تكون الآن بين يديك!{{else}} {{trans "your winning ticket!"}}{{/if}}</span></p></td> 
                                                        </tr> 
                                                    </tbody></table></td> 
                                        </tr> 
                                    </tbody></table></td> 
                        </tr> 
                    </tbody></table></td> 
        </tr> 
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
    <tbody><tr style="border-collapse:collapse"> 
            <td align="center" bgcolor="#ffffff" style="padding:0;Margin:0;background-color:#FFFFFF"> 
                <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
                    <tbody><tr style="border-collapse:collapse"> 
                            <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;padding-top:30px"> 
                                <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                    <tbody><tr style="border-collapse:collapse"> 
                                            <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                    <tbody><tr style="border-collapse:collapse"> 
                                                            <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12pt;font-weight:bold;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:36px;color:#002F54;text-transform: uppercase; {{if store_id}} direction: rtl; {{/if}}">{{if store_id}}مرحبًا {{else}}{{trans "hala "}}{{/if}} {{var customer_name|raw}},</p></td> 
                                                        </tr> 
                                                    </tbody></table></td> 
                                        </tr> 
                                    </tbody></table></td> 
                        </tr> 
                        <tr style="border-collapse:collapse"> 
                            <td align="left" style="padding:0;Margin:0;padding-top:10px;padding-left:20px;padding-right:20px"> 
                                <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                    <tbody><tr style="border-collapse:collapse"> 
                                            <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                    <tbody><tr style="border-collapse:collapse"> 
                                                            <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12pt;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:29px;color:#002F54; {{if store_id}} direction:rtl; {{/if}}">{{if store_id}}شكرًا على تسوقك مع kanzi، ما زال أمامك خطوة واحدة لتحقق الربح الكبير. {{else}} {{trans "Thank you for shopping with KANZI; You're one step closer to winning big! "}} {{/if}}<br> {{if store_id}}إليك فيما يلي تذكرة العرض، تفاصيل طلبك، والفاتورة.{{else}} {{trans "Please find below your campaign ticket, order details and receipt."}} {{/if}}</p></td> 
                                                        </tr> 
                                                    </tbody></table></td> 
                                        </tr> 
                                    </tbody></table></td> 
                        </tr> 
                        <tr style="border-collapse:collapse"> 
                            <td align="left" style="padding:0;Margin:0;padding-top:10px;padding-left:20px;padding-right:20px"> 
                                <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                    <tbody><tr style="border-collapse:collapse"> 
                                            <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                                                    <tbody>
                                                        <!--                         <tr style="border-collapse:collapse"> 
                                                                              <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:24px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:36px;color:#002F54">Don't forget your ticket!</p></td> 
                                                                             </tr> -->
                                                        <tr style="border-collapse:collapse"> 
                                                            <td align="left" style="padding:0;Margin:0;padding-bottom:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14pt;font-weight:bold;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';line-height:42px;color:#002F54;margin-top:60px;text-transform: uppercase; {{if store_id}} direction:rtl; float:right; {{/if}}"><span style="color:#00E87B;margin-right:6px">{{if store_id}}فاتورة{{else}}Your order{{/if}}</span> {{if store_id}}التسوق{{else}}invoice{{/if}}</p></td> 
                                                        </tr> 
                                                    </tbody></table></td> 
                                        </tr> 
                                    </tbody></table></td> 
                        </tr> 
                    </tbody></table></td> 
        </tr> 
    </tbody>
</table>

{{var order_info|raw}}

{{if store_id}}
{{var footer_html|raw}}
{{else}}
{{template config_path="design/email/footer_template"}}
{{/if}}