<!--@subject {{trans "Campaign Approve Request"}} @-->
<p>Hello ,<br/></p>
<p>A campaign has been requested for Approval, Please take a look on details below: <br/><br/></p>
<table>
    <tr>
        <th>Campaign Name</th>
        <th>Campaign Product Name</th>
        <th>Campaign Prize Name</th>
        <th>Campaign Margin</th>
        <th>Campaign Total Tickets</th>
        <th>Campaign Product Selling Price</th>
    </tr>
    <tr>
        <td>{{var campaign_name}}</td>
        <td>{{var campaign_product_name}}</td>
        <td>{{var campaign_prize_name}}</td>
        <td>{{var campaign_target_margin}}</td>
        <td>{{var campaign_total_tickets}}</td>
        <td>{{var product_selling_price}}</td>
    </tr>
</table>


<br/><p>Please follow this link below for checking the campaign<br/><br/><br/>{{var link}}</p>
<p><br/>Thanks</p>